Moduli_PA/SUAP/03_sections/sec_dichiarazioni_pdc_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sdicpdc="../03_sections/dichiarazioni_pdc"
            xmlns:equaintpdc="../02_entities/qualificazione_intervento_pdc"
            xmlns:esancorpdc="../02_entities/sanatoria_in_corso_pdc"
            xmlns:etitpos="../02_entities/titolo_possesso"
            xmlns:elocint="../02_entities/localizzazione_intervento"
            xmlns:eopeparcom="../02_entities/opere_parti_comuni"
            xmlns:eregurbpdc="../02_entities/regolarita_urbanistica_pdc"
            xmlns:ecalconcospdc="../02_entities/calcolo_contributo_costruzione_pdc"
            xmlns:etecincpdc="../02_entities/tecnici_incaricati_pdc"
            xmlns:eimpeselavpdc="../02_entities/impresa_esecutrice_lavori_pdc"
            xmlns:eoblsalsicaltpdc="../02_entities/obblighi_salute_sicurezza_altpdc"

            targetNamespace="../03_sections/dichiarazioni_pdc" elementFormDefault="qualified"
            attributeFormDefault="qualified" version="1.0.6" xml:lang="it">

    <xsd:import namespace="../02_entities/qualificazione_intervento_pdc" schemaLocation="../02_entities/ent_qualificazione_intervento_pdc_v1.0.6.xsd"/>
    <xsd:import namespace="../02_entities/sanatoria_in_corso_pdc" schemaLocation="../02_entities/ent_sanatoria_in_corso_pdc_v1.0.6.xsd"/>
    <xsd:import namespace="../02_entities/titolo_possesso" schemaLocation="../02_entities/ent_titolo_possesso_v1.0.6.xsd"/>
    <xsd:import namespace="../02_entities/localizzazione_intervento" schemaLocation="../02_entities/ent_localizzazione_intervento_v1.0.6.xsd"/>
    <xsd:import namespace="../02_entities/opere_parti_comuni" schemaLocation="../02_entities/ent_opere_parti_comuni_v1.0.6.xsd"/>
    <xsd:import namespace="../02_entities/regolarita_urbanistica_pdc" schemaLocation="../02_entities/ent_regolarita_urbanistica_pdc_v1.0.6.xsd"/>
    <xsd:import namespace="../02_entities/calcolo_contributo_costruzione_pdc" schemaLocation="../02_entities/ent_calcolo_contributo_costruzione_pdc_v1.0.6.xsd"/>
    <xsd:import namespace="../02_entities/tecnici_incaricati_pdc" schemaLocation="../02_entities/ent_tecnici_incaricati_pdc_v1.0.6.xsd"/>
    <xsd:import namespace="../02_entities/impresa_esecutrice_lavori_pdc" schemaLocation="../02_entities/ent_impresa_esecutrice_lavori_pdc_v1.0.6.xsd"/>
    <xsd:import namespace="../02_entities/obblighi_salute_sicurezza_altpdc" schemaLocation="../02_entities/ent_obblighi_salute_sicurezza_altpdc_v1.0.6.xsd"/>

    <xsd:complexType name="sezione_dichiarazioni_pdc_ctype">
        <xsd:sequence>
            <xsd:element name="qualificazione_intervento" type="equaintpdc:qualificazione_intervento_base_type" minOccurs="0"/>
            <xsd:element name="sanatoria_in_corso" type="esancorpdc:sanatoria_in_corso_base_type" minOccurs="0"/>
            <xsd:element name="titolo_possesso" type="etitpos:titolo_possesso_ctype" minOccurs="0"/>
            <xsd:element name="localizzazione_intervento" type="elocint:localizzazione_intervento_ctype" minOccurs="0"/>
            <xsd:element name="opere_previste" type="eopeparcom:opere_previste_ctype" minOccurs="0"/>
            <xsd:element name="regolarita_urbanistica" type="eregurbpdc:regolarita_urbanistica_pdc_base_type" minOccurs="0"/>
            <xsd:element name="calcolo_contributo_costruzione" type="ecalconcospdc:calcolo_contributo_base_type" minOccurs="0"/>
            <xsd:element name="tecnici_incaricati_pdc" type="etecincpdc:tecnici_incaricati_dei_lavori_pdc_ctype" minOccurs="0"/>
            <xsd:element name="imprese_esecutrici" type="eimpeselavpdc:imprese_esecutrici_dei_lavori_pdc_ctype" minOccurs="0"/>
            <xsd:element name="obblighi_salute_sicurezza_pdc" type="eoblsalsicaltpdc:obblighi_salute_sicurezza_altpdc_ctype" minOccurs="0"/>

            <xsd:element name="note" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dichiarazione_presa_visione_informativa_privacy" type="xsd:boolean" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_dichiarazioni_pdc" type="sdicpdc:sezione_dichiarazioni_pdc_ctype"/>

</xsd:schema>
