Moduli_PA/SUAP/03_sections/sec_dichiarazioni_scia_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sdicscia="../03_sections/dichiarazioni_scia"
            xmlns:etitpos="../02_entities/titolo_possesso"
            xmlns:eprescia="../02_entities/presentazione_scia"
            xmlns:equaintscia="../02_entities/qualificazione_intervento_scia"
            xmlns:esancorscia="../02_entities/sanatoria_in_corso_scia"
            xmlns:elocint="../02_entities/localizzazione_intervento"
            xmlns:eopeparcom="../02_entities/opere_parti_comuni"
            xmlns:eregurbscia="../02_entities/regolarita_urbanistica_scia"
            xmlns:ecalconcosscia="../02_entities/calcolo_contributo_costruzione_scia"
            xmlns:etecinc="../02_entities/tecnici_incaricati"
            xmlns:eimpeselavscia="../02_entities/impresa_esecutrice_lavori_scia"
            xmlns:eoblsalsic="../02_entities/obblighi_salute_sicurezza"

            targetNamespace="../03_sections/dichiarazioni_scia" elementFormDefault="qualified"
            attributeFormDefault="qualified" version="1.0.7" xml:lang="it">

    <xsd:import namespace="../02_entities/titolo_possesso" schemaLocation="../02_entities/ent_titolo_possesso_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/presentazione_scia" schemaLocation="../02_entities/ent_presentazione_scia_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/qualificazione_intervento_scia" schemaLocation="../02_entities/ent_qualificazione_intervento_scia_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/sanatoria_in_corso_scia" schemaLocation="../02_entities/ent_sanatoria_in_corso_scia_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/localizzazione_intervento" schemaLocation="../02_entities/ent_localizzazione_intervento_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/opere_parti_comuni" schemaLocation="../02_entities/ent_opere_parti_comuni_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/regolarita_urbanistica_scia" schemaLocation="../02_entities/ent_regolarita_urbanistica_scia_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/calcolo_contributo_costruzione_scia" schemaLocation="../02_entities/ent_calcolo_contributo_costruzione_scia_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/tecnici_incaricati" schemaLocation="../02_entities/ent_tecnici_incaricati_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/impresa_esecutrice_lavori_scia" schemaLocation="../02_entities/ent_impresa_esecutrice_lavori_scia_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/obblighi_salute_sicurezza" schemaLocation="../02_entities/ent_obblighi_salute_sicurezza_v1.0.7.xsd"/>




    <xsd:complexType name="sezione_dichiarazioni_scia_ctype">
        <xsd:sequence>
            <xsd:element name="titolo_possesso" type="etitpos:titolo_possesso_ctype" minOccurs="0"/>
            <xsd:element name="presentazione" type="eprescia:presentazione_ctype" minOccurs="0"/>
            <xsd:element name="qualificazione_intervento" type="equaintscia:qualificazione_intervento_base_type" minOccurs="0"/>
            <xsd:element name="sanatoria_in_corso" type="esancorscia:sanatoria_in_corso_base_type" minOccurs="0"/>
            <xsd:element name="localizzazione_intervento" type="elocint:localizzazione_intervento_ctype" minOccurs="0"/>
            <xsd:element name="opere_previste" type="eopeparcom:opere_previste_ctype" minOccurs="0"/>
            <xsd:element name="regolarita_urbanistica" type="eregurbscia:regolarita_urbanistica_scia_base_type" minOccurs="0"/>
            <xsd:element name="calcolo_contributo_costruzione" type="ecalconcosscia:calcolo_contributo_base_type" minOccurs="0"/>
            <xsd:element name="tecnici_incaricati" type="etecinc:tecnici_incaricati_dei_lavori_ctype" minOccurs="0"/>
            <xsd:element name="imprese_esecutrici" type="eimpeselavscia:scia_imprese_esecutrici_dei_lavori_ctype" minOccurs="0"/>
            <xsd:element name="obblighi_salute_sicurezza" type="eoblsalsic:obblighi_salute_sicurezza_ctype" minOccurs="0"/>
            <xsd:element name="note" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dichiarazione_presa_visione_informativa_privacy" type="xsd:boolean" />

        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_dichiarazioni_scia" type="sdicscia:sezione_dichiarazioni_scia_ctype"/>

</xsd:schema>
