Moduli_PA/SUAP/03_sections/sec_autoscuole_apertura_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:sautoape="../03_sections/autoscuole_apertura"
    xmlns:eautoape="../02_entities/autoscuole_apertura" targetNamespace="../03_sections/autoscuole_apertura" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">

    <xsd:import namespace="../02_entities/autoscuole_apertura" schemaLocation="../02_entities/ent_autoscuole_apertura_v1.0.7.xsd"/>

    <xsd:complexType name="sezione_autoscuole_apertura_ctype">
        <xsd:sequence>
            <xsd:element name="apertura" type="eautoape:autoscuole_apertura_ctype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_autoscuole_apertura" type="eautoape:autoscuole_apertura_ctype"/>
</xsd:schema>
