Moduli_PA/SUAP/03_sections/sec_altre_dichiarazioni_autoscuole_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:saltdicaut="../03_sections/altre_dichiarazioni_autoscuole"
    xmlns:ealtdicaut="../02_entities/altre_dichiarazioni_autoscuole" targetNamespace="../03_sections/altre_dichiarazioni_autoscuole" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">
    
    <xsd:import namespace="../02_entities/altre_dichiarazioni_autoscuole" schemaLocation="../02_entities/ent_altre_dichiarazioni_autoscuole_v1.0.6.xsd"/>

    <xsd:complexType name="sezione_altre_dichiarazioni_autoscuole_ctype">
        <xsd:sequence>
            <xsd:element name="altre_dichiarazioni_autoscuole" type="ealtdicaut:altre_dichiarazioni_autoscuole_ctype" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_altre_dichiarazioni_autoscuole" type="saltdicaut:sezione_altre_dichiarazioni_autoscuole_ctype"/>
</xsd:schema>
