Moduli_PA/SUAP/03_sections/sec_aua_scheda_g2_recupero_rifiuti_pericolosi_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sauaschg2recrifper="../03_sections/aua_scheda_g2_recupero_rifiuti_pericolosi"
            xmlns:eauaschg2dicsogist="../02_entities/aua_scheda_g2_dichiarazioni_soggetto_istanza"
            xmlns:eauaschg2reqsog="../02_entities/aua_scheda_g2_requisiti_soggettivi"
            xmlns:eauaschg2infrifrec="../02_entities/aua_scheda_g2_informazioni_rifiuti_recuperati"
            targetNamespace="../03_sections/aua_scheda_g2_recupero_rifiuti_pericolosi" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">

    <xsd:import namespace="../02_entities/aua_scheda_g2_dichiarazioni_soggetto_istanza" schemaLocation="../02_entities/ent_aua_scheda_g2_dichiarazioni_soggetto_istanza_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/aua_scheda_g2_requisiti_soggettivi" schemaLocation="../02_entities/ent_aua_scheda_g2_requisiti_soggettivi_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/aua_scheda_g2_informazioni_rifiuti_recuperati" schemaLocation="../02_entities/ent_aua_scheda_g2_informazioni_rifiuti_recuperati_v1.0.7.xsd"/>



    <xsd:complexType name="sezione_aua_scheda_g2_recupero_rifiuti_pericolosi_ctype">
        <xsd:sequence>
            <!-- SCHEDA G2-1 -->
            <xsd:element name="dichiarazioni_impegni_soggetto_propone_istanza" type="eauaschg2dicsogist:scheda_g2_dichiarazioni_soggetto_istanza_ctype" minOccurs="0" maxOccurs="1"/>
            <!-- SCHEDA G2-2 -->
            <xsd:element name="requisiti_soggettivi" type="eauaschg2reqsog:scheda_g2_requisiti_soggettivi_ctype" minOccurs="0" maxOccurs="1"/>
            <!-- SCHEDA G2-3 -->
            <xsd:element name="informazioni_tipologie_rifiuti_recuperati" type="eauaschg2infrifrec:scheda_g2_informazioni_rifiuti_recuperati_ctype" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_aua_scheda_g2_recupero_rifiuti_pericolosi" type="sauaschg2recrifper:sezione_aua_scheda_g2_recupero_rifiuti_pericolosi_ctype"/>
</xsd:schema>
