Moduli_PA/SUAP/03_sections/sec_anagrafica_comunicazione_inizio_lavori_sue_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sanacominilavsue="../03_sections/anagrafica_comunicazione_inizio_lavori_sue"
            xmlns:eallperana="../02_entities/allegato_persona_anagrafica"
            xmlns:eallimpana="../02_entities/allegato_impresa_anagrafica"
            targetNamespace="../03_sections/anagrafica_comunicazione_inizio_lavori_sue" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">

    <xsd:import namespace="../02_entities/allegato_persona_anagrafica" schemaLocation="../02_entities/ent_allegato_persona_anagrafica_v1.0.6.xsd"/>
    <xsd:import namespace="../02_entities/allegato_impresa_anagrafica" schemaLocation="../02_entities/ent_allegato_impresa_anagrafica_v1.0.6.xsd"/>

    <xsd:complexType name="titolare_ctype">
        <xsd:complexContent>
            <xsd:extension base="eallperana:allegato_persona_anagrafica_ctype">
                <xsd:sequence>
                    <xsd:element name="inQualitaDi" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="impresa" type="eallimpana:allegato_impresa_anagrafica_ctype" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="sezione_anagrafica_comunicazione_inizio_lavori_sue" type="sanacominilavsue:titolare_ctype"/>

</xsd:schema>
