Moduli_PA/SUAP/03_sections/sec_dichiarazioni_progettista_cila_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sdicprocila="../03_sections/dichiarazioni_progettista_cila"
            xmlns:etipintopecila="../02_entities/tipologia_intervento_opere_cila"
            xmlns:edictol="../02_entities/dichiarazione_tolleranze"
            xmlns:ecomsegcila="../02_entities/comunicazioni_segnalazioni_cila"
            xmlns:eattasscila="../02_entities/atti_assenso_cila"
            targetNamespace="../03_sections/dichiarazioni_progettista_cila" elementFormDefault="qualified"
            attributeFormDefault="qualified" version="1.0.7" xml:lang="it">


    <xsd:import namespace="../02_entities/tipologia_intervento_opere_cila" schemaLocation="../02_entities/ent_tipologia_intervento_opere_cila_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/dichiarazione_tolleranze" schemaLocation="../02_entities/ent_dichiarazione_tolleranze_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/comunicazioni_segnalazioni_cila" schemaLocation="../02_entities/ent_comunicazioni_segnalazioni_cila_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/atti_assenso_cila" schemaLocation="../02_entities/ent_atti_assenso_cila_v1.0.7.xsd"/>


    <xsd:complexType name="sezione_dichiarazioni_progettista_cila_ctype">
        <xsd:sequence>
            <xsd:element name="tipo_di_intervento" type="etipintopecila:tipologia_intervento_base_type"/>
            <xsd:element name="dichiarazioni_tolleranze" type="edictol:dichiarazioni_tolleranze_base_type" minOccurs="0"/>
            <xsd:element name="altre_comunicazioni" type="ecomsegcila:comunicazioni_segnalazioni_base_type" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="atti_di_assenso" type="eattasscila:atti_assenso_ctype" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="note" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dichiarazione_presa_visione_informativa_privacy" type="xsd:boolean" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_dichiarazioni_progettista_cila" type="sdicprocila:sezione_dichiarazioni_progettista_cila_ctype"/>

</xsd:schema>
