Moduli_PA/SUAP/03_sections/sec_dichiarazioni_cil_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sdiccil="../03_sections/dichiarazioni_cil"
            xmlns:etitpos="../02_entities/titolo_possesso"
            xmlns:eopeparcom="../02_entities/opere_parti_comuni"
            xmlns:ecominilavcil="../02_entities/comunicazione_inizio_lavori_cil"
            xmlns:elocint="../02_entities/localizzazione_intervento"
            xmlns:ecomsegcila="../02_entities/comunicazioni_segnalazioni_cila"
            xmlns:eimpeselavcila="../02_entities/impresa_esecutrice_lavori_cila"
            xmlns:eoblsalsic="../02_entities/obblighi_salute_sicurezza"
            targetNamespace="../03_sections/dichiarazioni_cil" elementFormDefault="qualified"
            attributeFormDefault="qualified" version="1.0.7" xml:lang="it">

    <xsd:import namespace="../02_entities/titolo_possesso" schemaLocation="../02_entities/ent_titolo_possesso_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/opere_parti_comuni" schemaLocation="../02_entities/ent_opere_parti_comuni_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/comunicazione_inizio_lavori_cil" schemaLocation="../02_entities/ent_comunicazione_inizio_lavori_cil_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/localizzazione_intervento" schemaLocation="../02_entities/ent_localizzazione_intervento_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/comunicazioni_segnalazioni_cila" schemaLocation="../02_entities/ent_comunicazioni_segnalazioni_cila_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/impresa_esecutrice_lavori_cila" schemaLocation="../02_entities/ent_impresa_esecutrice_lavori_cila_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/obblighi_salute_sicurezza" schemaLocation="../02_entities/ent_obblighi_salute_sicurezza_v1.0.7.xsd"/>



    <xsd:complexType name="sezione_dichiarazioni_cil_ctype">
        <xsd:sequence>
            <xsd:element name="titolo_possesso" type="etitpos:titolo_possesso_ctype" minOccurs="0"/>
            <xsd:element name="opere_previste" type="eopeparcom:opere_previste_base_type" minOccurs="0"/>
            <xsd:element name="comunica_inizio_lavori" type="ecominilavcil:comunica_inizio_lavori_ctype"/>
            <xsd:element name="localizzazione_intervento" type="elocint:localizzazione_intervento_ctype" minOccurs="0"/>
            <xsd:element name="altre_comunicazioni" type="ecomsegcila:comunicazioni_segnalazioni_base_type" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="imprese_esecutrici" type="eimpeselavcila:cila_imprese_esecutrici_dei_lavori_ctype" minOccurs="0"/>
            <xsd:element name="obblighi_salute_sicurezza" type="eoblsalsic:obblighi_salute_sicurezza_ctype" minOccurs="0"/>
            <xsd:element name="dichiarazione_presa_visione_informativa_privacy" type="xsd:boolean" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_dichiarazioni_cila" type="sdiccil:sezione_dichiarazioni_cil_ctype"/>

</xsd:schema>
