Moduli_PA/SUAP/03_sections/sec_dichiarazioni_sezione_c_sca_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sdicsezcsca="../03_sections/dichiarazioni_sezione_c_sca"
            xmlns:eallperana="../02_entities/allegato_persona_anagrafica"
            xmlns:einfoprisue="../02_entities/informativa_privacy_sue"
            targetNamespace="../03_sections/dichiarazioni_sezione_c_sca" elementFormDefault="qualified"
            attributeFormDefault="qualified" version="1.0.7" xml:lang="it">


    
    <xsd:import namespace="../02_entities/allegato_persona_anagrafica" schemaLocation="../02_entities/ent_allegato_persona_anagrafica_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/informativa_privacy_sue" schemaLocation="../02_entities/ent_informativa_privacy_sue_v1.0.7.xsd"/>


    <!--Riferimento As-is:AllegatoSoggettiCoinvoltiType -->
    <xsd:complexType name="sezione_dichiarazioni_sezione_c_sca_ctype">
        <xsd:annotation>
            <xsd:documentation xml:lang="it">
                Compilare solo in caso di più di un Titolare
                (I seguenti campi sono da compilare solo qualora i dati siano diversi da quelli indicati nei titoli/comunicazioni che hanno legittimato l’intervento)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="scheda_titolare" type="eallperana:allegato_persona_anagrafica_ctype"  minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="dichiarazione_presa_visione_informativa_privacy" type="einfoprisue:informativa_privacy_ctype" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="sezione_dichiarazioni_sezione_c_sca" type="sdicsezcsca:sezione_dichiarazioni_sezione_c_sca_ctype"/>

</xsd:schema>
