Moduli_PA/SUAP/04_forms/mod_autoscuole_apertura_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:mautape="../04_forms/autoscuole_apertura"
    xmlns:sschedaanag="../03_sections/scheda_anagrafica"
    xmlns:srifatt="../03_sections/riferimento_attivita"
    xmlns:sautoape="../03_sections/autoscuole_apertura"
    xmlns:sdicreqaut="../03_sections/dichiarazioni_requisiti_autoscuole"
    xmlns:stabdoc="../03_sections/tabella_docenti_autoscuole"
    xmlns:saltdicaut="../03_sections/altre_dichiarazioni_autoscuole"
    xmlns:sallegati="../03_sections/allegati" targetNamespace="../04_forms/autoscuole_apertura" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.0" xml:lang="it">


    <!-- DEFAULT PRE -->
    <xsd:import namespace="../03_sections/scheda_anagrafica" schemaLocation="../03_sections/sec_scheda_anagrafica_v1.0.6.xsd"/>
    <xsd:import namespace="../03_sections/riferimento_attivita" schemaLocation="../03_sections/sec_riferimento_attivita_v1.0.6.xsd"/>

    <!-- MODULO -->
    <xsd:import namespace="../03_sections/autoscuole_apertura" schemaLocation="../03_sections/sec_autoscuole_apertura_v1.0.6.xsd"/>
    <xsd:import namespace="../03_sections/dichiarazioni_requisiti_autoscuole" schemaLocation="../03_sections/sec_dichiarazioni_requisiti_autoscuole_v1.0.6.xsd"/>
    <xsd:import namespace="../03_sections/tabella_docenti_autoscuole" schemaLocation="../03_sections/sec_tabella_docenti_autoscuole_v1.0.6.xsd"/>
    <xsd:import namespace="../03_sections/altre_dichiarazioni_autoscuole" schemaLocation="../03_sections/sec_altre_dichiarazioni_autoscuole_v1.0.6.xsd"/>


    <!-- DEFAULT POST -->
    <xsd:import namespace="../03_sections/allegati" schemaLocation="../03_sections/sec_allegati_v1.0.6.xsd"/>

    <xsd:complexType name="modulo_autoscuole_apertura_ctype">
        <xsd:sequence>

            <!-- DEFAULT PRE -->
            <xsd:element name="scheda_anagrafica" type="sschedaanag:sezione_scheda_anagrafica_ctype"/>
            <xsd:element name="riferimento_attivita" type="srifatt:riferimento_attivita_type"/>

            <!-- MODULO -->
            <xsd:element name="sezione_autoscuole_apertura" type="sautoape:sezione_autoscuole_apertura_ctype"/>
            <xsd:element name="sezione_dichiarazioni_requisiti_autoscuole" type="sdicreqaut:sezione_dichiarazioni_requisiti_autoscuole_ctype"/>
            <xsd:element name="sezione_tabella_docenti_autoscuole" type="stabdoc:sezione_tabella_docenti_autoscuole_ctype"/>
            <xsd:element name="sezione_altre_dichiarazioni_autoscuole" type="saltdicaut:sezione_altre_dichiarazioni_autoscuole_ctype"/>
            <xsd:element name="dichiarazione_presa_visione_informativa_privacy" type="xsd:boolean" />

            <!-- DEFAULT POST -->
            <xsd:element name="tabella_allegati" type="sallegati:allegati_ctype"/>

        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="modulo_autoscuole_apertura" type="mautape:modulo_autoscuole_apertura_ctype"/>
</xsd:schema>
