Moduli_PA/SUAP/04_forms/mod_scia_alternativa_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:msciaalt="../04_forms/scia_alternativa"
            xmlns:sanasue="../03_sections/anagrafica_sue"
            xmlns:sdicsciaalt="../03_sections/dichiarazioni_scia_alternativa"
            xmlns:sreltecasssciaalt="../03_sections/relazione_tecnica_asseverazione_scia_alternativa"
            xmlns:sallegatisue="../03_sections/allegati_sue"
            targetNamespace="../04_forms/scia_alternativa" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">

    <xsd:import namespace="../03_sections/anagrafica_sue" schemaLocation="../03_sections/sec_anagrafica_sue_v1.0.7.xsd"/>
    <xsd:import namespace="../03_sections/dichiarazioni_scia_alternativa" schemaLocation="../03_sections/sec_dichiarazioni_scia_alternativa_v1.0.7.xsd"/>
    <xsd:import namespace="../03_sections/relazione_tecnica_asseverazione_scia_alternativa" schemaLocation="../03_sections/sec_relazione_tecnica_asseverazione_scia_alternativa_v1.0.7.xsd"/>
    <xsd:import namespace="../03_sections/allegati_sue" schemaLocation="../03_sections/sec_allegati_sue_v1.0.7.xsd"/>

    <xsd:complexType name="modulo_scia_alternativa_ctype">
        <xsd:sequence>
            <!-- SOGGETTI -->
            <xsd:element name="scheda_anagrafica" type="sanasue:sezione_anagrafica_sue_ctype" minOccurs="0" />

            <!-- DICHIARAZIONI -->
            <xsd:element name="dichiarazioni" type="sdicsciaalt:sezione_dichiarazioni_scia_alternativa_ctype" minOccurs="0" />

            <!-- RELAZIONE TECNICA DI ASSEVERAZIONE -->
            <xsd:element name="relazione_tecnica_asseverazione" type="sreltecasssciaalt:sezione_relazione_tecnica_asseverazione_scia_alternativa_ctype" minOccurs="0" />

            <!-- ALLEGATI  -->
            <xsd:element name="tabella_allegati" type="sallegatisue:allegati_sue_ctype" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="modulo_scia_alternativa" type="msciaalt:modulo_scia_alternativa_ctype"/>

</xsd:schema>
