Moduli_PA/SUAP/04_forms/mod_comunicazione_fine_lavori_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mcomfinlav="../04_forms/comunicazione_fine_lavori"
            xmlns:sanasue="../03_sections/anagrafica_sue"
            xmlns:subiimm="../03_sections/ubicazione_immobile"
            xmlns:scomfinlav="../03_sections/comunicazione_fine_lavori"
            xmlns:sallegatisue="../03_sections/allegati_sue"
            targetNamespace="../04_forms/comunicazione_fine_lavori" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">

    <xsd:import namespace="../03_sections/anagrafica_sue" schemaLocation="../03_sections/sec_anagrafica_sue_v1.0.6.xsd"/>
    <xsd:import namespace="../03_sections/ubicazione_immobile" schemaLocation="../03_sections/sec_ubicazione_immobile_v1.0.6.xsd"/>
    <xsd:import namespace="../03_sections/comunicazione_fine_lavori" schemaLocation="../03_sections/sec_comunicazione_fine_lavori_v1.0.6.xsd"/>
    <xsd:import namespace="../03_sections/allegati_sue" schemaLocation="../03_sections/sec_allegati_sue_v1.0.6.xsd"/>

    <xsd:complexType name="modulo_comunicazione_fine_lavori_ctype">
        <xsd:sequence>
            <!-- SOGGETTI -->
            <xsd:element name="scheda_anagrafica" type="sanasue:sezione_anagrafica_sue_ctype" minOccurs="0" />

            <!-- CATASTALI -->
            <xsd:element name="ubicazione_immobile" type="subiimm:sezione_ubicazione_immobile_ctype" minOccurs="0" />

            <!-- COMUNICAZIONI -->
            <xsd:element name="comunicazioni" type="scomfinlav:sezione_comunicazione_fine_lavori_ctype" minOccurs="0" />

            <!-- ALLEGATI  -->
            <xsd:element name="tabella_allegati" type="sallegatisue:allegati_sue_ctype" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="modulo_comunicazione_fine_lavori" type="mcomfinlav:modulo_comunicazione_fine_lavori_ctype"/>

</xsd:schema>