Moduli_PA/SUAP/02_entities/ent_presentazione_inizio_lavori_cila_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:epreinilavcila="../02_entities/presentazione_inizio_lavori_cila"
            targetNamespace="../02_entities/presentazione_inizio_lavori_cila"

            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">



    <!-- c)	Presentazione della comunicazione di inizio dei lavori asseverata (*) -->
    <xsd:complexType name="interventi_soggetti_acila_base_type" abstract="true"/>

    <xsd:complexType name="interventi_soggetti_acila_ctype">
        <xsd:complexContent>
            <xsd:extension base="epreinilavcila:interventi_soggetti_acila_base_type">
                <xsd:choice>
                    <xsd:element name="no_altri_atti" type="xsd:boolean"/>
                    <xsd:element name="comunicazioni_certificate" type="xsd:boolean"/>
                    <xsd:element name="domanda_contestuale_cila" type="xsd:boolean"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="presentazione_inizio_lavori_cila" type="epreinilavcila:interventi_soggetti_acila_ctype"/>
</xsd:schema>
