Moduli_PA/SUAP/02_entities/ent_commercio_ingrosso_variazione_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ecommingvar="../02_entities/commercio_ingrosso_variazione"
            xmlns:ccodelist="../commons/codelist"
            xmlns:canncl="../commons/xsdAnnotations"
            xmlns:ctipi="../commons/tipi"
            xmlns:eproto="../02_entities/protocollo"
            targetNamespace="../02_entities/commercio_ingrosso_variazione"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">

    <xsd:import namespace="../02_entities/settori_merceologici_ampliamento"
                schemaLocation="../02_entities/ent_settori_merceologici_ampliamento_v1.0.7.xsd"/>
    <xsd:import namespace="../02_entities/protocollo" schemaLocation="../02_entities/ent_protocollo_v1.0.7.xsd"/>
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>


    <xsd:complexType name="commercio_ingrosso_variazione_ctype">
        <xsd:sequence>
            <xsd:element name="comunicazione_variazione" type="eproto:protocollo_ctype" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="variazione_superficie_check" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="variazione_superficie_da" type="xsd:double" minOccurs="0"/>
            <xsd:element name="variazione_superficie_a" type="xsd:double" minOccurs="0"/>


            <xsd:element name="variazione_superficie_vendita" type="ecommingvar:variazione_superficie_vendita_base_type"
                         minOccurs="0"/>


            <xsd:element name="variazione_settori_merceologici" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="aggiunta_settore">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="alimentare_check" type="xsd:boolean" minOccurs="0"/>
                                    <xsd:element name="non_alimentare_check" type="xsd:boolean" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="eliminazione_settore">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="alimentare_check" type="xsd:boolean" minOccurs="0"/>
                                    <xsd:element name="non_alimentare_check" type="xsd:boolean" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!--Inizio Sezione Trasferimento sede -->
<!--            <xsd:element name="trasferimento_sede_check" type="xsd:boolean" minOccurs="0"/>-->
<!--            <xsd:element name="nuovo_indirizzo_sede" type="xsd:string" minOccurs="0"/>-->
<!--            <xsd:element name="comune_sede" type="ccodelist:CodeType" minOccurs="1" maxOccurs="1">-->
<!--                <xsd:annotation>-->
<!--                    <xsd:appinfo>-->
<!--                        <canncl:codeListReference>-->
<!--                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>-->
<!--                        </canncl:codeListReference>-->
<!--                    </xsd:appinfo>-->
<!--                </xsd:annotation>-->
<!--            </xsd:element>-->
<!--            <xsd:element name="cap_sede" type="ctipi:cap_stype" minOccurs="0" maxOccurs="1"/>-->
<!--            <xsd:element name="telefono_sede" type="xsd:string" minOccurs="0"/>-->
            <!--Fine Sezione Trasferimento sede -->

            <xsd:element name="trasferimento_luogo_check" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="nuovo_indirizzo_luogo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="comune_luogo" type="ccodelist:CodeType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cap_luogo" type="ctipi:cap_stype" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="telefono_luogo" type="xsd:string" minOccurs="0"/>

            <xsd:element name="altro" type="ecommingvar:altro_base_type" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="variazione_superficie_vendita_base_type" abstract="true"/>

    <xsd:complexType name="variazione_superficie_vendita_ctype">
        <xsd:complexContent>
            <xsd:extension base="ecommingvar:variazione_superficie_vendita_base_type">
                <xsd:sequence>
                    <xsd:element name="alimentare_check" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="alimentare_superficie_da" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="alimentare_superficie_a" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="non_alimentare_check" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="non_alimentare_superficie_da" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="non_alimentare_superficie_a" type="xsd:double" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="altro_base_type" abstract="true"/>

    <xsd:complexType name="altro_ctype">
        <xsd:complexContent>
            <xsd:extension base="ecommingvar:altro_base_type">
                <xsd:sequence>
                    <xsd:element name="altro_check" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="altro_variazione" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="commercio_ingrosso_variazione" type="ecommingvar:commercio_ingrosso_variazione_ctype"/>
</xsd:schema>
