Moduli_PA/SUAP/02_entities/ent_notifica_sanitaria_strutture_militari_decorrenza_modifiche_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:enotsanstrmildecmod="../02_entities/notifica_sanitaria_strutture_militari_decorrenza_modifiche"
            xmlns:ctipi="../commons/tipi"
            targetNamespace="../02_entities/notifica_sanitaria_strutture_militari_decorrenza_modifiche" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">

    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>

    <xsd:complexType name="decorrenza_modifiche_ctype">
        <xsd:sequence>
            <xsd:element name="avvio_contestuale" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="avvio_decorrenza" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="avvio_decorrenza_check" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="data_decorrenza" type="ctipi:ggmmaaaa_stype" minOccurs="0" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:sequence>

    </xsd:complexType>

    <xsd:element name="decorrenza_modifiche" type="enotsanstrmildecmod:decorrenza_modifiche_ctype"/>
</xsd:schema>
