Moduli_PA/SUAP/02_entities/ent_aua_scheda_d_emissioni_atmosfera_impianti_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eauaschdemiatmimp="../02_entities/aua_scheda_d_emissioni_atmosfera_impianti"
            xmlns:ccodelist="../commons/codelist"
            xmlns:canncl="../commons/xsdAnnotations"
            targetNamespace="../02_entities/aua_scheda_d_emissioni_atmosfera_impianti"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>

    <!-- SCHEDA D1 -->

    <xsd:complexType name="impiego_materie_prime_choice_ctype">
        <xsd:choice>
            <xsd:element name="non_superiore_soglia_massima" type="xsd:boolean"/>
            <xsd:element name="superiore_soglia_massima" type="xsd:boolean"/>
            <xsd:element name="soglia_massima_non_prevista" type="xsd:boolean"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="dettaglio_autorizzazione_ripetibile_ctype">
        <xsd:sequence>
            <xsd:element name="attivita" type="xsd:string" minOccurs="0"/>
            <xsd:element name="autorita_competente" type="xsd:string" minOccurs="0"/>
            <xsd:element name="estremi_provvedimento" type="xsd:string" minOccurs="0"/>
            <xsd:element name="impiego_materie_prime" type="eauaschdemiatmimp:impiego_materie_prime_choice_ctype" minOccurs="0"/>
            <xsd:element name="non_svolte_attivita_ordinaria" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="non_emette_sostanze" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="non_utilizzati_composti_cov" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="impegno_rispetto_prescrizioni" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="dettaglio_autorizzazione_allegato_riferimentoripetibile_ctype">
        <xsd:sequence>
            <xsd:element name="attivita" type="xsd:string" minOccurs="0"/>
            <xsd:element name="allegato_riferimento" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>




    <xsd:complexType name="scheda_d_emissioni_atmosfera_impianti_ctype">
        <xsd:complexContent>
            <xsd:extension base="eauaschdemiatmimp:scheda_d_emissioni_atmosfera_impianti_base_type">
                <xsd:sequence>
                    <xsd:element name="nuovo_impianto" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="rinnovo_adesione" type="xsd:boolean" minOccurs="0"/>

                    <xsd:element name="trasferimento" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="comune_provenienza" type="ccodelist:CodeType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <canncl:codeListReference>
                                    <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                                </canncl:codeListReference>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="esercizio_esistente" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="adesione_autorizzazione_generale" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="dettaglio_autorizzazione_blocco" type="eauaschdemiatmimp:dettaglio_autorizzazione_ripetibile_ctype" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="autorizzazione_carattere_generale_per" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="dettaglio_autorizzazione_allegato_riferimento_blocco" type="eauaschdemiatmimp:dettaglio_autorizzazione_allegato_riferimentoripetibile_ctype" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="impiego_materie_prime" type="eauaschdemiatmimp:impiego_materie_prime_choice_ctype" minOccurs="0"/>
                    <xsd:element name="non_svolte_attivita_ordinaria" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="non_emette_sostanze" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="non_utilizzati_composti_cov" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="impegno_rispetto_prescrizioni" type="xsd:boolean" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="scheda_d_emissioni_atmosfera_impianti_base_type" abstract="true"/>

    <xsd:element name="scheda_d_emissioni_atmosfera_impianti" type="eauaschdemiatmimp:scheda_d_emissioni_atmosfera_impianti_base_type"/>

</xsd:schema>