Moduli_PA/SUAP/02_entities/ent_identificativo_catastale_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eidecat="../02_entities/identificativo_catastale"
            targetNamespace="../02_entities/identificativo_catastale" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">

    <xsd:import namespace="../02_entities/ubicazione_immobile" schemaLocation="../02_entities/ent_ubicazione_immobile_v1.0.6.xsd"/>

    <xsd:complexType name="coordinate_catastali_ctype">
        <xsd:sequence>
            <xsd:element name="ufficio_provinciale_catastale" type="xsd:string" minOccurs="0"/>
            <xsd:choice>
                <xsd:element name="fabbricati" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="terreni" type="xsd:boolean" default="false" minOccurs="0" maxOccurs="1"/>
            </xsd:choice>
            <xsd:element name="info_catastali" type="eidecat:info_catastali_ctype" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="destinazione_uso" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="info_catastali_ctype">
        <xsd:sequence>
            <xsd:element name="foglio" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="particella" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="subalterno" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="sezione" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="coordinate_catastali" type="eidecat:coordinate_catastali_ctype"/>
</xsd:schema>
