Moduli_PA/SUAP/02_entities/ent_natura_duemila_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:enatdue="../02_entities/natura_duemila"
            targetNamespace="../02_entities/natura_duemila"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">


    <!-- Reference enatdue:Natura2000Type -->
    <xsd:complexType name="natura_2000_base_type" abstract="true"/>

    <xsd:complexType name="natura_2000_ctype">
        <xsd:complexContent>
            <xsd:extension base="enatdue:natura_2000_base_type">
                <xsd:choice>
                    <xsd:element name="non_soggetto_vinca" type="xsd:boolean"/>
                    <xsd:element name="soggetto_vinca">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="soggetto_vinca_allegato_documentazione" type="xsd:boolean"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="natura_duemila" type="enatdue:natura_2000_ctype"/>
</xsd:schema>
