Moduli_PA/SUAP/02_entities/ent_aua_scheda_a_dati_tecnici_scarico_acque_reflue_v1.0.7.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eauaschadattecscaacqref="../02_entities/aua_scheda_a_dati_tecnici_scarico_acque_reflue"
            xmlns:ctipi="../commons/tipi"
            xmlns:canncl="../commons/xsdAnnotations"
            xmlns:ccodelist="../commons/codelist"
            xmlns:eauacodscaenu="../02_entities/aua_codice_scarico_enum"
            targetNamespace="../02_entities/aua_scheda_a_dati_tecnici_scarico_acque_reflue"
            elementFormDefault="qualified">

    <!--    SCHEDA A5 -->

    <!-- Import tipi comuni -->
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../02_entities/aua_codice_scarico_enum" schemaLocation="../02_entities/ent_aua_codice_scarico_enum_v1.0.7.xsd"/>





    <!-- Tipo concreto -->
    <xsd:complexType name="scheda_a_dati_tecnici_scarico_acque_reflue_ripetibile_ctype">
        <xsd:complexContent>
            <xsd:extension base="eauaschadattecscaacqref:scheda_a_dati_tecnici_scarico_acque_reflue_base_type">
                <xsd:sequence>
                    <xsd:element name="dati_tecnici_scarico_acque_reflue_blocco"
                                 type="eauaschadattecscaacqref:scheda_a_dati_tecnici_scarico_acque_reflue_blocco_ctype"
                                 maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <!-- Tipo concreto ripetibile -->
    <xsd:complexType name="scheda_a_dati_tecnici_scarico_acque_reflue_blocco_ctype">
        <xsd:sequence>
            <xsd:element name="codice" type="eauacodscaenu:codice_scarico_enum"/>
            <xsd:element name="agglomerato_abitanti_equivalenti" type="xsd:string"/>
            <xsd:element name="utenze_rete_fognaria">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="numero_abitanti_residenti" type="xsd:string"/>
                        <xsd:element name="numero_abitanti_fluttuanti" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="presenza_acque_reflue_industriali" type="xsd:boolean"/>
            <xsd:element name="raccolta_acque_meteoriche" type="xsd:boolean"/>
            <!-- Se esistenza_scaricatori_piena = true, mostra il seguente blocco -->
            <xsd:element name="esistenza_scaricatori_piena"
                         type="eauaschadattecscaacqref:scaricatori_piena_dettaglio_ctype" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Dettaglio scaricatori di piena -->
    <xsd:complexType name="scaricatori_piena_dettaglio_ctype">
        <xsd:sequence>
            <xsd:element name="comune" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="frazione" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cap" type="ctipi:cap_stype"/>
            <xsd:element name="via" type="xsd:string"/>
            <xsd:element name="n_civico" type="xsd:string"/>
            <xsd:element name="estremi_catastali" type="eauaschadattecscaacqref:estremi_catastali_ctype"/>

        </xsd:sequence>
    </xsd:complexType>

    <!-- Estremi catastali -->
    <xsd:complexType name="estremi_catastali_ctype">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="nceu" type="xsd:boolean"/>
                <xsd:element name="nct" type="xsd:boolean"/>
            </xsd:choice>
            <xsd:element name="categoria" type="xsd:string" minOccurs="0"/>
            <xsd:element name="classe" type="xsd:string" minOccurs="0"/>
            <xsd:element name="sezione" type="xsd:string" minOccurs="0"/>
            <xsd:element name="foglio" type="xsd:string"/>
            <xsd:element name="mappale_particella" type="xsd:string"/>
            <xsd:element name="subalterno" type="xsd:string"/>
            <xsd:element name="tipologia_corpo_recettore" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Tipo astratto principale -->
    <xsd:complexType name="scheda_a_dati_tecnici_scarico_acque_reflue_base_type" abstract="true"/>

</xsd:schema>