Moduli_PA/SUAP/02_entities/ent_tabella_docenti_autoscuole_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:etabdoc="../02_entities/tabella_docenti_autoscuole"
    xmlns:ctipi="../commons/tipi" targetNamespace="../02_entities/tabella_docenti_autoscuole" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">

    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>

    <xsd:complexType name="tabella_docenti_autoscuole_ctype">
        <xsd:sequence>
            <xsd:element name="docenti" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="nome" type="xsd:string"/>
                        <xsd:element name="cognome" type="xsd:string"/>

                        <xsd:element name="in_qualita_di">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="insegnante" type="xsd:boolean"/>
                                    <xsd:element name="istruttore" type="xsd:boolean"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="tabella_docenti_autoscuole" type="etabdoc:tabella_docenti_autoscuole_ctype"/>
</xsd:schema>
