Moduli_PA/SUAP/02_entities/ent_aua_scheda_g1_dichiarazioni_soggetto_istanza_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eauaschg1dicsogist="../02_entities/aua_scheda_g1_dichiarazioni_soggetto_istanza"
            xmlns:ctipi="../commons/tipi"
            xmlns:ccodelist="../commons/codelist"
            xmlns:canncl="../commons/xsdAnnotations"
            targetNamespace="../02_entities/aua_scheda_g1_dichiarazioni_soggetto_istanza"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">

    <!--    SCHEDA G1-1  -->

    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>



    <xsd:complexType name="scheda_g1_dichiarazioni_soggetto_istanza_ctype">
        <xsd:sequence>
            <xsd:element name="effettuazione_operazioni_recupero" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="insediamento_interessato" type="xsd:boolean" minOccurs="0"/>

            <xsd:element name="responsabile_tecnico" type="eauaschg1dicsogist:responsabile_tecnico_ctype" minOccurs="0"/>

            <xsd:element name="conformita_urbanistica" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="adempimento_obblighi" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="versamento_diritto_iscrizione" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="possesso_requisiti" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="versamento_garanzie" type="xsd:boolean" minOccurs="0"/>

            <xsd:element name="raee" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="autodemolizione" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="coincenerimento" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="pile_accumulatori" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="rispetto_codice_ambiente" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="sanzioni" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="comunicazione_variazioni" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="responsabile_tecnico_ctype">
        <xsd:choice>
            <xsd:element name="gestore" type="xsd:boolean"/>
            <xsd:element name="soggetto_diverso" type="eauaschg1dicsogist:soggetto_diverso_ctype"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="soggetto_diverso_ctype">
        <xsd:sequence>
            <xsd:element name="nome" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cognome" type="xsd:string" minOccurs="0"/>
            <xsd:element name="codice_fiscale" type="ctipi:codice_fiscale_stype" minOccurs="0"/>
            <xsd:element name="data_nascita" type="ctipi:ggmmaaaa_stype" minOccurs="0"/>

            <xsd:element name="comune_nascita" type="ccodelist:CodeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provincia_nascita" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ProvinceItaliane</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stato_nascita" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:Stati</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="comune_residenza" type="ccodelist:CodeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provincia_residenza" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ProvinceItaliane</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stato_residenza" type="xsd:string" minOccurs="0"/>

            <xsd:element name="indirizzo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="civico" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cap" type="ctipi:cap_stype" minOccurs="0"/>

            <xsd:element name="pec_posta_elettronica" type="ctipi:email_stype" minOccurs="0"/>
            <xsd:element name="telefono_fisso_cellulare" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="scheda_g1_dichiarazioni_soggetto_istanza" type="eauaschg1dicsogist:scheda_g1_dichiarazioni_soggetto_istanza_ctype"/>

</xsd:schema>