Moduli_PA/SUAP/02_entities/ent_aua_dati_gestore_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eauadatges="../02_entities/aua_dati_gestore"
            xmlns:ccodelist="../commons/codelist"
            xmlns:canncl="../commons/xsdAnnotations"
            xmlns:ctipi="../commons/tipi"
            targetNamespace="../02_entities/aua_dati_gestore"
            elementFormDefault="qualified"
            attributeFormDefault="qualified"
            version="1.0.7" xml:lang="it">

    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>
    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>

    <!-- Dati anagrafici -->
    <xsd:complexType name="dati_anagrafici_ctype">
        <xsd:sequence>
            <xsd:element name="cognome" type="xsd:string"/>
            <xsd:element name="nome" type="xsd:string"/>
            <xsd:element name="codice_fiscale" type="ctipi:codice_fiscale_stype"/>

            <xsd:element name="comune_nascita" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provincia_nascita" type="ccodelist:CodeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ProvinceItaliane</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stato_nascita" type="ccodelist:CodeType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:StatiEsteri</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="data_nascita" type="ctipi:ggmmaaaa_stype"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Dati residenza -->
    <xsd:complexType name="dati_residenza_ctype">
        <xsd:sequence>
            <xsd:element name="comune_residenza" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provincia_residenza" type="ccodelist:CodeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:ProvinceItaliane</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stato_residenza" type="ccodelist:CodeType">
                <xsd:annotation>
                    <xsd:appinfo>
                        <canncl:codeListReference>
                            <canncl:ShortName>IT:SUAP:CL:StatiEsteri</canncl:ShortName>
                        </canncl:codeListReference>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indirizzo_residenza" type="xsd:string"/>
            <xsd:element name="numero_civico" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cap" type="ctipi:cap_stype"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Recapiti -->
    <xsd:complexType name="recapiti_ctype">
        <xsd:sequence>
            <xsd:element name="pec" type="ctipi:email_stype"/>
            <xsd:element name="telefono" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Qualità -->
    <xsd:complexType name="qualita_ctype">
        <xsd:sequence>
            <xsd:element name="titolare" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="legale_rappresentante" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="altro" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="altro_descrizione" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Tipo principale -->
    <xsd:complexType name="dati_gestore_ctype">
        <xsd:sequence>
            <xsd:element name="dati_anagrafici" type="eauadatges:dati_anagrafici_ctype"/>
            <xsd:element name="dati_residenza" type="eauadatges:dati_residenza_ctype"/>
            <xsd:element name="recapiti" type="eauadatges:recapiti_ctype"/>
            <xsd:element name="qualita" type="eauadatges:qualita_ctype"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="aua_dati_gestore" type="eauadatges:dati_gestore_ctype"/>
</xsd:schema>