Moduli_PA/SUAP/02_entities/ent_sanatoria_in_corso_scia_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:esancorscia="../02_entities/sanatoria_in_corso_scia"
            targetNamespace="../02_entities/sanatoria_in_corso_scia"
            xmlns:ctipi="../commons/tipi"

            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">

    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    

    <xsd:complexType name="sanatoria_in_corso_base_type" abstract="true"/>

    <xsd:complexType name="sanatoria_in_corso_ctype">
        <xsd:complexContent>
            <xsd:extension base="esancorscia:sanatoria_in_corso_base_type">
                <xsd:sequence>

                    <xsd:element name="pagamento_sanzione">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:choice>
                                    <xsd:element name="estremi_pagamento_sanzione">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="estremi_pagamento" type="xsd:string" />
                                                <xsd:element name="estremi_pagamento_data" type="ctipi:ggmmaaaa_stype" />
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="ricevuta_pagamento" type="xsd:boolean" />
                                </xsd:choice>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="sanatoria_soggetto" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="intervento_data" type="ctipi:ggmmaaaa_stype" />
                                <xsd:choice>
                                    <xsd:element name="estremi_pagamento_sanatoria">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="importo_sanatoria" type="xsd:string" />
                                                <xsd:element name="pagamento_data" type="ctipi:ggmmaaaa_stype" />
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="importo_ricevuta_pagamento" type="xsd:string" />
                                </xsd:choice>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="sanatoria_soggetto_fino_dieci_mila" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="intervento_data" type="ctipi:ggmmaaaa_stype" />
                                <xsd:choice>
                                    <xsd:element name="estremi_pagamento_sanatoria">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="importo_sanatoria" type="xsd:string" />
                                                <xsd:element name="pagamento_data" type="ctipi:ggmmaaaa_stype" />
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="importo_ricevuta_pagamento" type="xsd:string" />
                                </xsd:choice>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="intervento_variante_in_corso_opera">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="titolo_edilizio" type="esancorscia:atto_base_type" minOccurs="0" />
                                <xsd:element name="altra_documentazione" type="xsd:boolean" minOccurs="0"  />
                                <xsd:element name="estremi_versamento" minOccurs="0" >
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="importo" type="xsd:string" />
                                            <xsd:element name="versamento_data" type="ctipi:ggmmaaaa_stype" />
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="importo_ricevuta_versamento" type="xsd:string" minOccurs="0"  />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="atto_base_type">
        <xsd:sequence>
            <xsd:element name="numero" type="xsd:string"/>
            <xsd:element name="data" type="ctipi:ggmmaaaa_stype"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="sanatoria_in_corso_scia" type="esancorscia:sanatoria_in_corso_ctype"/>
</xsd:schema>
