Moduli_PA/SUAP/02_entities/ent_scarichi_idrici_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:escaidr="../02_entities/scarichi_idrici"
            xmlns:eprosta="../02_entities/protocollo_standard"
            targetNamespace="../02_entities/scarichi_idrici"

            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">

    <xsd:import namespace="../02_entities/protocollo_standard" schemaLocation="../02_entities/ent_protocollo_standard_v1.0.7.xsd"/>

    <!-- Reference escaidr:ScarichiIdriciType -->
    <xsd:complexType name="scarichi_idrici_base_type" abstract="true"/>

    <xsd:complexType name="scarichi_idrici_ctype">
        <xsd:complexContent>
            <xsd:extension base="escaidr:scarichi_idrici_base_type">
                <xsd:choice>
                    <xsd:element name="non_necessita_autorizzazione" type="xsd:boolean"/>
                    <xsd:element name="necessita_autorizzazione_scarico" type="xsd:boolean"/>
                    <xsd:element name="necessita_autorizzazione">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="scarico_in_pubblica_fognatura" minOccurs="0">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="allega_documentazione" type="xsd:boolean" minOccurs="0"/>
                                            <xsd:element name="autorizzazione_ottenuta" type="eprosta:protocollo_standard_ctype" minOccurs="0"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="scarico_in_acque_superficiali" minOccurs="0">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="allega_documentazione" type="xsd:boolean" minOccurs="0"/>
                                            <xsd:element name="autorizzazione_ottenuta" type="eprosta:protocollo_standard_ctype" minOccurs="0"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="allaccio_in_pubblica_fognatura" minOccurs="0">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="allega_documentazione" type="xsd:boolean" minOccurs="0"/>
                                            <xsd:element name="autorizzazione_ottenuta" type="eprosta:protocollo_standard_ctype" minOccurs="0"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>





    <xsd:element name="scarichi_idrici" type="escaidr:scarichi_idrici_ctype"/>
</xsd:schema>
