Moduli_PA/SUAP/02_entities/ent_strumentazione_urbanistica_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:estrurb="../02_entities/strumentazione_urbanistica"
            targetNamespace="../02_entities/strumentazione_urbanistica"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">


    <xsd:complexType name="strumentazione_urbanistica_base_type" abstract="true"/>

    <xsd:complexType name="strumentazione_urbanistica_ctype">
        <xsd:complexContent>
            <xsd:extension base="estrurb:strumentazione_urbanistica_base_type">
                <xsd:sequence>
                    <xsd:element name="prg" minOccurs="0" type="estrurb:tabella_strumentazione_urbanistica_ctype"/>
                    <xsd:element name="piano_particolareggiato" minOccurs="0" type="estrurb:tabella_strumentazione_urbanistica_ctype"/>
                    <xsd:element name="piano_recupero" minOccurs="0" type="estrurb:tabella_strumentazione_urbanistica_ctype"/>
                    <xsd:element name="pip" minOccurs="0" type="estrurb:tabella_strumentazione_urbanistica_ctype"/>
                    <xsd:element name="peep" minOccurs="0" type="estrurb:tabella_strumentazione_urbanistica_ctype"/>
                    <xsd:element name="convenzione" minOccurs="0" type="estrurb:tabella_strumentazione_urbanistica_ctype"/>
                    <xsd:element name="altro" minOccurs="0" type="estrurb:tabella_strumentazione_urbanistica_ctype"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="tabella_strumentazione_urbanistica_ctype">
        <xsd:sequence>
            <xsd:element name="specificare" type="xsd:string"/>
            <xsd:element name="zona" type="xsd:string"/>
            <xsd:element name="art" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    


    <xsd:element name="strumentazione_urbanistica" type="estrurb:strumentazione_urbanistica_ctype"/>
</xsd:schema>
