Moduli_PA/SUAP/02_entities/ent_qualificazione_intervento_scia_alternativa_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:equaintsciaalt="../02_entities/qualificazione_intervento_scia_alternativa"

            targetNamespace="../02_entities/qualificazione_intervento_scia_alternativa"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">

    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../02_entities/protocollo" schemaLocation="../02_entities/ent_protocollo_v1.0.7.xsd"/>
    
    <!-- Reference suecommon:QualificazioneInterventoBaseType -->
    <xsd:complexType name="qualificazione_intervento_base_type" abstract="true"/>

    <xsd:complexType name="qualificazione_intervento_ctype">
        <xsd:complexContent>
            <xsd:extension base="equaintsciaalt:qualificazione_intervento_base_type">
                <xsd:sequence>

                    <xsd:element name="newInterventiSCIAAlternativa" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:choice>
                                    <xsd:element name="noMutamento" type="xsd:boolean" />
                                    <xsd:element name="mutamentoCategoriaSingolaUnita" type="xsd:boolean" />
                                    <xsd:element name="mutamentoTraCategorieSingolaUnita" type="xsd:boolean" />
                                    <xsd:element name="mutamentoCategoriaInteroImmobile" type="xsd:boolean" />
                                </xsd:choice>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>

                    <xsd:choice>
                        <xsd:element name="procedimentoAutomatizzato" type="xsd:boolean"/>
                        <xsd:element name="procedimentoOrdinario" type="xsd:boolean"/>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="qualificazione_intervento_scia_alternativa" type="equaintsciaalt:qualificazione_intervento_ctype"/>
</xsd:schema>
