Moduli_PA/SUAP/02_entities/ent_consumi_energetici_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:econene="../02_entities/consumi_energetici"
            targetNamespace="../02_entities/consumi_energetici"

            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">


    <!-- Reference econene:ConsumiEnergeticiType -->
    <xsd:complexType name="consumi_energetici_base_type" abstract="true"/>

    <xsd:complexType name="consumi_energetici_ctype">
        <xsd:complexContent>
            <xsd:extension base="econene:consumi_energetici_base_type">
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element name="non_soggetto_risparmio_energetico" type="xsd:boolean">
                            <xsd:annotation>
                                <xsd:documentation>non è soggetto al deposito del progetto e della relazione tecnica di
                                    cui all’articolo 125 del
                                    d.P.R. n. 380/2001 e del d.lgs. n. 192/2005
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="soggetto_risparmio_energetico">
                            <xsd:annotation>
                                <xsd:documentation>è soggetto al deposito del progetto e della relazione tecnica di cui
                                    all’articolo 125 del d.P.R. n. 380/2001 e del d.lgs. n. 192/2005
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="allegato_relazione_tecnica_soggetto_risparmio_energetico"
                                                 type="xsd:boolean"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>

                    </xsd:choice>
                    <xsd:choice>
                        <xsd:element name="non_soggetto_fonti_rinnovabili" type="xsd:boolean">
                            <xsd:annotation>
                                <xsd:documentation>non è soggetto al deposito del progetto e della relazione tecnica di
                                    cui all’articolo 125 del d.P.R. n. 380/2001 e del d.lgs. n. 192/2005
                                    che l’intervento, in relazione agli obblighi in materia di fonti rinnovabili
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="soggetto_fonti_rinnovabili">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="prescrizioni_in_rel_tecnica" minOccurs="0" type="xsd:boolean">
                                        <xsd:annotation>
                                            <xsd:documentation>il rispetto delle prescrizioni in materia di utilizzo di
                                                fonti di energia rinnovabili è indicato negli elaborati progettuali e
                                                nella relazione tecnica prevista dall’articolo 125 del d.P.R. n.
                                                380/2001 e dal d.lgs. n. 192/2005 in materia di risparmio energetico
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="non_fattibilita_in_rel_tecnica" minOccurs="0" type="xsd:boolean">
                                        <xsd:annotation>
                                            <xsd:documentation>l’impossibilità tecnica di ottemperare, in tutto o in
                                                parte, agli obblighi previsti, è evidenziata nella relazione tecnica
                                                dovuta ai sensi dell’articolo 125 del d.P.R. n. 380/2001 e del d.lgs. n.
                                                192/2005, con l’indicazione della non fattibilità di tutte le
                                                diverse opzioni tecnologiche disponibili
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:choice>
                    <xsd:sequence>
                        <xsd:element name="ricade_spessori_distanze" type="xsd:boolean" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>ricade nell’articolo 14, comma 6, del d.lgs. n. 102/2014 in merito al
                                    computo degli spessori delle murature, nonché alla deroga alle
                                    distanze minime e alle altezze massime degli edifici
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ricade_spessori_distanze_certifica_riduzione_20" type="xsd:boolean" minOccurs="0" />

                        <xsd:element name="ricadeDistanze" type="xsd:boolean" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>ricade nell’articolo 14, comma 7, del d.lgs. n. 102/2014 in merito
                                    alle deroga alle distanze minime e alle altezze
                                    massime degli edifici
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="ricadeDistanze_certifica_riduzione_10" type="xsd:boolean" minOccurs="0"/>


                        <xsd:element name="ricadeBonusVolumetrico" type="xsd:boolean" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>ricade nell’articolo 12, comma 1, del d.lgs. n. 28/2011 in merito al
                                    bonus volumetrico del 5 per cento
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="ricade_bonus_volumetrico_certifica_copertura_30" type="xsd:boolean" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="consumi_energetici" type="econene:consumi_energetici_ctype"/>
</xsd:schema>
