Moduli_PA/SUAP/02_entities/ent_rispetto_cimiteriale_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eriscim="../02_entities/rispetto_cimiteriale"
            targetNamespace="../02_entities/rispetto_cimiteriale"


            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">



    <!-- Reference eriscim:RispettoCimiterialeType -->
    <xsd:complexType name="rispetto_cimiteriale_base_type" abstract="true"/>

    <xsd:complexType name="rispetto_cimiteriale_ctype">
        <xsd:complexContent>
            <xsd:extension base="eriscim:rispetto_cimiteriale_base_type">
                <xsd:choice>
                    <xsd:element name="non_ricade" type="xsd:boolean"/>
                    <xsd:element name="ricade_consentito" type="xsd:boolean"/>
                    <xsd:element name="ricade_non_consentito">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element  name="ricade_non_consentito_allegato_deroga" type="xsd:boolean"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>

                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="rispetto_cimiteriale" type="eriscim:rispetto_cimiteriale_ctype"/>
</xsd:schema>
