Moduli_PA/SUAP/02_entities/ent_montacarichi_sca_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:emonsca="../02_entities/montacarichi_sca"
            xmlns:eprosta="../02_entities/protocollo_standard"
            targetNamespace="../02_entities/montacarichi_sca" elementFormDefault="qualified"
            attributeFormDefault="qualified" version="1.0.6" xml:lang="it">

    <xsd:import namespace="../02_entities/protocollo_standard" schemaLocation="../02_entities/ent_protocollo_standard_v1.0.6.xsd"/>


    <!-- (*) Personalizzazione Regionale -->
    <xsd:complexType name="montacarichi_base_type" abstract="true"/>
    
    <xsd:complexType name="montacarichi_ctype">
        <xsd:complexContent>
            <xsd:extension base="emonsca:montacarichi_base_type">
                <xsd:sequence>
                    <xsd:element name="comunicazione_valida_per_matricola"  type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="atto_comunicazione" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="protocollo" type="emonsca:protocollo_ctype"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="protocollo_ctype">
        <xsd:complexContent>
            <xsd:extension base="eprosta:protocollo_standard_ctype">
                <xsd:sequence>
                    <xsd:element name="presso" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="montacarichi_sca" type="emonsca:montacarichi_ctype"/>
</xsd:schema>
