Moduli_PA/SUAP/02_entities/ent_aua_scheda_b_dati_identificativi_allevamenti_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eauaschbdatidall="../02_entities/aua_scheda_b_dati_identificativi_allevamenti"

            targetNamespace="../02_entities/aua_scheda_b_dati_identificativi_allevamenti"
            elementFormDefault="qualified"
            attributeFormDefault="qualified"
            version="1.0.7"
            xml:lang="it">

    <!--    SCHEDA B1-2  -->

    <xsd:complexType name="identificazione_allevamento_ctype">
        <xsd:sequence>
            <xsd:element name="identificazione_allevamento_blocco" type="eauaschbdatidall:identificazione_allevamento_ripetibile_ctype" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="identificazione_impianto_biogas_ctype">
        <xsd:complexContent>
            <xsd:extension base="eauaschbdatidall:identificazione_impianto_biogas_base_type">
                <xsd:sequence>
                    <xsd:element name="identificazione_impianto_biogas_blocco" type="eauaschbdatidall:identificazione_impianto_biogas_ripetibile_ctype" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>

    </xsd:complexType>


    <!-- Tipo astratto per identificazione impianto a biogas -->
    <xsd:complexType name="identificazione_impianto_biogas_base_type" abstract="true"/>

    <!-- Tipo concreto per identificazione impianto a biogas -->
    <xsd:complexType name="identificazione_impianto_biogas_ripetibile_ctype">
                <xsd:sequence>
                    <xsd:element name="denominazione" type="xsd:string"/>
                    <xsd:element name="indirizzo_numero_civico" type="xsd:string"/>
                    <xsd:element name="cap" type="xsd:string"/>
                    <xsd:element name="comune" type="xsd:string"/>
                    <xsd:element name="localita" type="xsd:string"/>
                </xsd:sequence>
    </xsd:complexType>

    <!-- Tipo concreto per identificazione allevamento -->
    <xsd:complexType name="identificazione_allevamento_ripetibile_ctype">
        <xsd:sequence>
            <xsd:element name="codice_allevamento_bdn" type="xsd:string"/>
            <xsd:element name="comune" type="xsd:string"/>
            <xsd:element name="indirizzo_numero_civico" type="xsd:string"/>
            <xsd:element name="ubicazione" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Elementi principali ripetibili -->
    <xsd:complexType name="dati_identificativi_allevamenti_ctype">
        <xsd:sequence>
            <xsd:element name="identificazione_allevamento" type="eauaschbdatidall:identificazione_allevamento_ctype"/>
            <xsd:element name="identificazione_impianto_biogas" type="eauaschbdatidall:identificazione_impianto_biogas_base_type"/>
            <!-- Altri campi singoli -->
            <xsd:element name="cuaa_azienda" type="xsd:string"/>
            <xsd:element name="codice_anagrafe_zootecnica_identificativo" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="dati_identificativi_allevamenti" type="eauaschbdatidall:dati_identificativi_allevamenti_ctype"/>

</xsd:schema>