Moduli_PA/SUAP/02_entities/ent_aua_scheda_c_produzioni_materie_prime_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eauaschcpromatpri="../02_entities/aua_scheda_c_produzioni_materie_prime"
            targetNamespace="../02_entities/aua_scheda_c_produzioni_materie_prime"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">


    <!--TODO: Non presente sul FO. compilazione alternativa alla tabella 4.3.1 della parte generale -->

    <!--    SCHEDA C1-2(a)  -->
    <xsd:complexType name="scheda_c_produzioni_materie_prime_ctype">
        <xsd:sequence>
            <xsd:element name="scheda_c_produzioni_materie_prime_blocco" type="eauaschcpromatpri:scheda_c_produzioni_materie_prime_ripetibile_ctype" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Tipo concreto ripetibile -->
    <xsd:complexType name="scheda_c_produzioni_materie_prime_ripetibile_ctype">
        <xsd:sequence>

            <xsd:element name="lavorazione" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipologia_prodotti" type="xsd:string" minOccurs="0"/>
            <xsd:element name="quantita" type="xsd:string" minOccurs="0"/>
            <xsd:element name="unita_misura" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>


    <!-- Elemento principale -->
    <xsd:element name="scheda_c_produzioni_materie_prime" type="eauaschcpromatpri:scheda_c_produzioni_materie_prime_ctype"/>

</xsd:schema>