Moduli_PA/SUAP/02_entities/ent_vincolo_idraulico_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:evicidr="../02_entities/vincolo_idraulico"
            targetNamespace="../02_entities/vincolo_idraulico"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">

    <!-- Reference evicidr:VincoloIdraulicoType -->
    <xsd:complexType name="vincolo_idraulico_base_type" abstract="true"/>

    <xsd:complexType name="vincolo_idraulico_ctype">
        <xsd:complexContent>
            <xsd:extension base="evicidr:vincolo_idraulico_base_type">
                <xsd:choice>
                    <xsd:element name="non_sottoposto_tutela" type="xsd:boolean"/>
                    <xsd:element name="sottoposto_tutela">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="sottoposto_tutela_allegato_documentazione" type="xsd:boolean"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="vincolo_idraulico" type="evicidr:vincolo_idraulico_ctype"/>
</xsd:schema>
