Moduli_PA/SUAP/02_entities/ent_aua_scheda_b_comunicazione_detentore_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eauaschbcomdet="../02_entities/aua_scheda_b_comunicazione_detentore"
            xmlns:ctipi="../commons/tipi"
            targetNamespace="../02_entities/aua_scheda_b_comunicazione_detentore"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">


    <!--    SCHEDA B1(7) -->

    <!-- Import enum terreni utilizzabili -->
    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>


    <xsd:complexType name="scheda_b_comunicazione_detentore_ctype">
        <xsd:sequence>
            <xsd:element name="scheda_b_comunicazione_detentore_blocco"
                         type="eauaschbcomdet:scheda_b_comunicazione_detentore_ripetibile_ctype" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Tipo ripetibile per ogni record -->
    <xsd:complexType name="scheda_b_comunicazione_detentore_ripetibile_ctype">
        <xsd:sequence>
            <xsd:element name="cuaa_azienda_acquirente" type="xsd:string"/>
            <xsd:element name="estremi_della_comunicazione_inviata_dal_produttore_di_effluenti_di_allevamento" type="xsd:string"/>
            <xsd:element name="scadenza_contratto_cessione" type="ctipi:ggmmaaaa_stype"/>
            <xsd:element name="sostanza_ceduta" type="xsd:string"/>
            <xsd:element name="volume_ceduto" type="xsd:string"/>
            <xsd:element name="azoto_ceduto" type="xsd:string"/>
            <xsd:element name="titolo_azoto_ceduto" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Elemento principale ripetibile -->
    <xsd:element name="scheda_b_comunicazione_detentore" type="eauaschbcomdet:scheda_b_comunicazione_detentore_ctype"/>

</xsd:schema>