Moduli_PA/SUAP/02_entities/ent_opere_parti_comuni_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eopeparcom="../02_entities/opere_parti_comuni"
            targetNamespace="../02_entities/opere_parti_comuni"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">


    <!-- Reference eopeparcom:OperePrevisteBaseType -->
    <xsd:complexType name="opere_previste_base_type" abstract="true"/>

     <xsd:complexType name="opere_previste_ctype">
        <xsd:complexContent>
            <xsd:extension base="eopeparcom:opere_previste_base_type">
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element name="no_parti_comuni" type="xsd:boolean"/>
                        <xsd:element name="parti_comuni_condominio" type="xsd:boolean"/>
                        <xsd:element name="parti_comuni_fabbricato_multiprop" type="xsd:boolean"/>
                        <xsd:element name="parti_comuni_no_assenso" type="xsd:boolean"/>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="opere_parti_comuni" type="eopeparcom:opere_previste_ctype"/>
</xsd:schema>
