Moduli_PA/SUAP/02_entities/ent_apertura_corrispondenza_v1.0.6.sch

<!--
    @data_creazione: 24/11/2025
    @version: 1.0.6
-->
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
  <sch:ns uri="../02_entities/apertura_corrispondenza" prefix="apertu"/>
  <sch:pattern id="apertu_pattern">
    <sch:rule context="apertu:vendita_corrispondenza">
      <sch:assert test="normalize-space(.) != ''">Il campo vendita_corrispondenza non può essere vuoto.</sch:assert>
    </sch:rule>
  </sch:pattern>
</sch:schema>
