Moduli_PA/SUAP/02_entities/ent_tecnici_incaricati_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:etecinc="../02_entities/tecnici_incaricati"
            targetNamespace="../02_entities/tecnici_incaricati"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">


    <!-- Reference etecinc:TecniciIncaricatiDeiLavoriType -->
    <xsd:complexType name="tecnici_incaricati_dei_lavori_ctype">
        <xsd:sequence>
            <xsd:element name="altri_tecnici_da_soggetti_coinvolti" minOccurs="0" type="xsd:boolean"/>
            <xsd:element name="altri_tecnici" minOccurs="0"  type="etecinc:individuati_prima_inizio_lavori_base_type"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="individuati_prima_inizio_lavori_base_type" abstract="true"/>

    <xsd:complexType name="individuati_prima_inizio_lavori_ctype">
        <xsd:complexContent>
            <xsd:extension base="etecinc:individuati_prima_inizio_lavori_base_type">
                <xsd:sequence>
                    <xsd:element name="individuati_prima_inizio_lavori" minOccurs="0" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="tecnici_incaricati" type="etecinc:tecnici_incaricati_dei_lavori_ctype"/>
</xsd:schema>
