Moduli_PA/SUAP/02_entities/ent_aua_scheda_g1_requisiti_soggettivi_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eauaschg1reqsog="../02_entities/aua_scheda_g1_requisiti_soggettivi"
            targetNamespace="../02_entities/aua_scheda_g1_requisiti_soggettivi"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">


    <!--    SCHEDA G1-2  -->



    <xsd:complexType name="scheda_g1_requisiti_soggettivi_ctype">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="istanza_referente_aua" type="xsd:boolean"/>

                <xsd:element name="istanza_gestore" type="eauaschg1reqsog:istanza_gestore_ctype"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="istanza_gestore_ctype">
        <xsd:sequence>
            <xsd:element name="stato_ditta" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="condanne" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="obblighi_contributivi" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="misure_prevenzione" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="false_dichiarazioni" type="xsd:boolean" minOccurs="0"/>

            <xsd:choice>
                <xsd:element name="proprietario_area" type="xsd:boolean"/>
                <xsd:element name="piena_disponibilita" type="eauaschg1reqsog:piena_disponibilita_ctype"/>
            </xsd:choice>

            <xsd:element name="dichiarazione_procedura_semplificata" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="piena_disponibilita_ctype">
        <xsd:sequence>
            <xsd:element name="anni" type="xsd:string" minOccurs="0"/>

            <xsd:choice>
                <xsd:element name="proprieta" type="xsd:boolean"/>
                <xsd:element name="affitto" type="xsd:boolean"/>
                <xsd:element name="altro" type="eauaschg1reqsog:altro_ctype"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="altro_ctype">
        <xsd:sequence>
            <xsd:element name="altro_check" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="altro_descrizione" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="scheda_g1_requisiti_soggettivi" type="eauaschg1reqsog:scheda_g1_requisiti_soggettivi_ctype"/>

</xsd:schema>