Moduli_PA/SUAP/02_entities/ent_ubicazione_immobile_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eubiimm="../02_entities/ubicazione_immobile"
            xmlns:ccodelist="../commons/codelist"
            xmlns:canncl="../commons/xsdAnnotations"
            targetNamespace="../02_entities/ubicazione_immobile"
            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.7" xml:lang="it">

    <xsd:import namespace="../commons/xsdAnnotations" schemaLocation="../commons-xsd-annotations.xsd"/>
    <xsd:import namespace="../commons/codelist" schemaLocation="../commons-codelist.xsd"/>

    <!-- AS-IS: IdentificativiImmobileBaseType su SUE_modulo_segnalazione_certificata_agibilita.xsd -->
    <xsd:complexType name="identificativi_immobile_base_type" abstract="true"/>

    <xsd:complexType name="ubicazione_immobile_ctype">
        <xsd:complexContent>
            <xsd:extension base="eubiimm:identificativi_immobile_base_type">
                <xsd:sequence>
                    <xsd:element name="comune" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1" >
                        <xsd:annotation>
                            <xsd:appinfo>
                                <canncl:codeListReference>
                                    <canncl:ShortName>IT:SUAP:CL:ComuniItaliani</canncl:ShortName>
                                </canncl:codeListReference>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="cap" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="indirizzo" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="nCivico" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="scala" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="piano" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="interno" type="xsd:string" minOccurs="0"/>

                    <!-- aggiuntivi -->
                    <xsd:element name="provincia" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1" >
                        <xsd:annotation>
                            <xsd:appinfo>
                                <canncl:codeListReference>
                                    <canncl:ShortName>IT:SUAP:CL:ProvinceItaliane</canncl:ShortName>
                                </canncl:codeListReference>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="stato" type="ccodelist:CodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <canncl:codeListReference>
                                    <canncl:ShortName>IT:SUAP:CL:Stati</canncl:ShortName>
                                </canncl:codeListReference>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="ubicazione_immobile" type="eubiimm:ubicazione_immobile_ctype"/>
</xsd:schema>
