Moduli_PA/SUAP/02_entities/ent_prestazione_energetica_sca_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:epreenesca="../02_entities/prestazione_energetica_sca"
            targetNamespace="../02_entities/prestazione_energetica_sca"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">



    <xsd:complexType name="prestazione_energetica_base_type" abstract="true"/>
    
    <xsd:complexType name="prestazione_energetica_ctype">
        <xsd:complexContent>
            <xsd:extension base="epreenesca:prestazione_energetica_base_type">
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element name="non_soggetto_requisiti_minimi"  type="xsd:boolean"/>
                        <xsd:element name="soggetto_requisiti_minimi" type="xsd:boolean"/>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>



    <xsd:element name="prestazione_energetica_sca" type="epreenesca:prestazione_energetica_ctype"/>
</xsd:schema>
