Moduli_PA/SUAP/02_entities/ent_comunicazione_fine_lavori_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ecomfinlav="../02_entities/comunicazione_fine_lavori"
            xmlns:ctipi="../commons/tipi"
            xmlns:eprosta="../02_entities/protocollo_standard"

            targetNamespace="../02_entities/comunicazione_fine_lavori"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">

    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>
    <xsd:import namespace="../02_entities/protocollo_standard" schemaLocation="../02_entities/ent_protocollo_standard_v1.0.6.xsd"/>


    <xsd:complexType name="fine_lavori_ctype">
        <xsd:annotation>
            <xsd:documentation xml:lang="it">
                Attenzione: qualora dai controlli successivi il contenuto delle dichiarazioni risulti non corrispondente al vero, oltre alle sanzioni penali,
                è prevista la decadenza dai benefici ottenuti sulla base delle dichiarazioni stesse (art. 75 del d.P.R. n. 445/2000).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="data_fine_lavori" type="ctipi:ggmmaaaa_stype" minOccurs="1"/>
            <xsd:choice>
                <xsd:element name="stato_lavori_completati" type="xsd:boolean"/>
                <xsd:element name="stato_lavori_parziale" type="xsd:boolean"/>
            </xsd:choice>
            <xsd:element name="atto_intervento_nome" type="xsd:string" minOccurs="1"/>
            <xsd:element name="atto_intervento_protocollo" type="eprosta:protocollo_standard_ctype" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="comunicazione_fine_lavori" type="ecomfinlav:fine_lavori_ctype"/>
</xsd:schema>
