Moduli_PA/SUAP/02_entities/ent_prevenzione_incendi_sca_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:epreincsca="../02_entities/prevenzione_incendi_sca"
            targetNamespace="../02_entities/prevenzione_incendi_sca"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">



    <!-- (*) Personalizzazione Regionale -->
    <xsd:complexType name="prevenzione_incendi_base_type" abstract="true"/>
    
    <xsd:complexType name="prevenzione_incendi_ctype">
        <xsd:complexContent>
            <xsd:extension base="epreincsca:prevenzione_incendi_base_type">
                <xsd:choice>
                    <xsd:element name="non_comportato_variazioni_sicurezza"  type="xsd:boolean"/>
                    <xsd:element name="comportato_variazioni_sicurezza"  type="xsd:boolean"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>



    <xsd:element name="prevenzione_incendi_sca" type="epreincsca:prevenzione_incendi_ctype"/>
</xsd:schema>
