Moduli_PA/SUAP/02_entities/ent_allegato_impresa_anagrafica_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"

            xmlns:eallimpana="../02_entities/allegato_impresa_anagrafica"

            targetNamespace="../02_entities/allegato_impresa_anagrafica"

            xmlns:vagidenum="../01_vocabularies/agid_enumeration"

            elementFormDefault="qualified" attributeFormDefault="qualified"
            version="1.0.6" xml:lang="it">

    <xsd:import namespace="../01_vocabularies/agid_enumeration" schemaLocation="../01_vocabularies/voc_agid_enumeration.xsd"/>


    <xsd:complexType name="allegato_impresa_anagrafica_ctype">
        <xsd:annotation>
            <xsd:documentation>Tipo per specificare i dati dell'anagrafica di una Impresa</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ragioneSociale" type="eallimpana:LegalEntityLegalNameType"/>
            <xsd:element name="pIVA" type="eallimpana:PIVA"/>
            <xsd:element name="formaGiuridica" type="vagidenum:FormaGiuridicaEnum" minOccurs="0"/>
            <xsd:element name="iscrizioneRegistroImprese" type="vagidenum:IscrizioneRegistroImpreseEnum" minOccurs="0"/>
            <xsd:element name="CCIAA" type="eallimpana:CCIAAType" minOccurs="0"/>
            <xsd:element name="sedeLegale" type="eallimpana:IndirizzoType" minOccurs="0"/>
            <xsd:element name="contatti" type="eallimpana:ContattiType" minOccurs="0"/>
            <xsd:element name="domicilioElettronicoComunicazioni" type="eallimpana:EMailIndirizzoType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LegalEntityLegalNameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="ContattiType">
        <xsd:annotation>
            <xsd:documentation>Tipo per specificare i contatti</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="eallimpana:ContattiGroup"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:group name="ContattiGroup">
        <xsd:annotation>
            <xsd:documentation>Gruppo di proprietà associate ai contatti</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="eallimpana:ContattiDatiGroup"/>
            <xsd:group ref="eallimpana:ContattiFoniaGroup"/>
        </xsd:sequence>
    </xsd:group>

    <xsd:group name="ContattiDatiGroup">
        <xsd:annotation>
            <xsd:documentation>Gruppo di proprietà associate ai contatti mail</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PEC" type="eallimpana:EMailIndirizzoType" minOccurs="0"/>
            <xsd:element name="email" type="eallimpana:EMailIndirizzoType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:group>

    <xsd:simpleType name="EMailIndirizzoType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern
                    value="[\-!#$%&amp;'*+/0-9=?A-Z^_a-z{|}~](\.?[\-!#$%&amp;'*+/0-9=?A-Z^_a-z{|}~])*@[a-zA-Z0-9](-?[a-zA-Z0-9])*(\.[a-zA-Z0-9](-?[a-zA-Z0-9])*)+"
            />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:group name="ContattiFoniaGroup">
        <xsd:annotation>
            <xsd:documentation>Gruppo di proprietà associate ai contatti fonia</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="telefono" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cellulare" type="xsd:string" minOccurs="0"/>
            <xsd:element name="fax" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:group>

    <xsd:complexType name="IndirizzoType">
        <xsd:annotation>
            <xsd:documentation>Tipo per specificare un indirizzo</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="eallimpana:IndirizzoGroup"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:group name="IndirizzoGroup">
        <xsd:annotation>
            <xsd:documentation>Gruppo di proprietà associate ad un indirizzo</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="eallimpana:LuogoGroup"/>
            <xsd:element name="localita" type="eallimpana:AddressAddressAreaType" minOccurs="0"/>
            <xsd:element name="toponimo" type="eallimpana:ToponimoType" minOccurs="0"/>
            <xsd:element name="civico" type="eallimpana:AddressLocatorDesignatorType" minOccurs="0"/>
            <xsd:element name="CAP" type="eallimpana:CAPType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:group>

    <xsd:group name="LuogoGroup">
        <xsd:annotation>
            <xsd:documentation>Gruppo di proprietà associate al luogo</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="stato" type="vagidenum:CountryISO31661Alpha2Enum" default="IT" />
            <xsd:element name="regione" type="eallimpana:RegioneType" minOccurs="0"/>
            <xsd:element name="provincia" type="eallimpana:ProvinciaType" minOccurs="0"/>
            <xsd:choice>
                <xsd:element name="comune" type="eallimpana:ComuneType"/>
                <xsd:element name="localitaEstera" type="xsd:string"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:group>

    <xsd:complexType name="CAPType">
        <xsd:simpleContent>
            <xsd:restriction base="eallimpana:AddressPostCodeType">
                <xsd:pattern value="\d{5}"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="ToponimoType">
        <xsd:sequence>
            <xsd:element name="specie" type="vagidenum:DUGEnum"/>
            <xsd:element name="indirizzo" type="eallimpana:AddressLocatorNameType"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="PersonaAnagraficaNascitaType">
        <xsd:annotation>
            <xsd:documentation>Tipo per specificare i dati di nascita di una persona</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="eallimpana:PersonaBaseGroup"/>
            <xsd:element name="nato" type="eallimpana:PersonaNascitaType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PersonaNascitaType">
        <xsd:annotation>
            <xsd:documentation>Tipo per specificare la nascita di una persona</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="eallimpana:PersonaNascitaGroup"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:group name="PersonaNascitaGroup">
        <xsd:annotation>
            <xsd:documentation>Gruppo di proprietà associate alla nascita di una persona</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="a" type="eallimpana:LuogoType"/>
            <xsd:element name="data" type="eallimpana:PersonBirthDateType"/>
        </xsd:sequence>
    </xsd:group>

    <xsd:complexType name="LuogoType">
        <xsd:annotation>
            <xsd:documentation>Tipo per specificare tutti i dati di un luogo</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="eallimpana:LuogoGroup"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ComuneType">
        <xsd:annotation>
            <xsd:documentation>Tipo per specificare i dati di un Comune</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:AddressPostNameType">
                <xsd:attribute name="codiceIstat" type="eallimpana:CodiceIstatComuneType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="CodiceIstatComuneType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{6}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="RegioneType">
        <xsd:annotation>
            <xsd:documentation>Tipo per specificare i dati di una Regione</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:AddressAdminUnitLocationTwoType">
                <xsd:attribute name="codiceIstat" type="eallimpana:CodiceIstatRegioneType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="ProvinciaType">
        <xsd:annotation>
            <xsd:documentation>Tipo per specificare i dati di una Provincia</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="codiceIstat" type="eallimpana:CodiceIstatProvinciaType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="CodiceIstatProvinciaType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="CodiceIstatRegioneType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:group name="PersonaBaseGroup">
        <xsd:annotation>
            <xsd:documentation>Gruppo di proprietà associate alla persona</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="eallimpana:PersonaCoreGroup" />
            <xsd:element name="codiceFiscale" type="eallimpana:CodiceFiscaleType"/>
        </xsd:sequence>
    </xsd:group>

    <xsd:simpleType name="CodiceFiscaleType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[ABCDEHLMPRST][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:group name="PersonaCoreGroup">
        <xsd:annotation>
            <xsd:documentation>Gruppo di proprietà core associate alla persona</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="cognome" type="eallimpana:PersonFamilyNameType"/>
            <xsd:element name="nome" type="eallimpana:PersonGivenNameType"/>
        </xsd:sequence>
    </xsd:group>

    <xsd:complexType name="IstitutoType">
        <xsd:sequence>
            <xsd:element name="istituto" type="xsd:string"/>
            <xsd:element name="indirizzo" type="eallimpana:IndirizzoType"/>
            <xsd:element name="oggettoCorso" type="xsd:string" minOccurs="0"/>
            <xsd:element name="annoConclusione" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>




    <!-- vari includes -->
    <xsd:complexType name="AddressAddressAreaType">
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:TextType"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="AddressLocatorDesignatorType">
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:TextType"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="AddressLocatorNameType">
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:TextType"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="AddressPostCodeType">
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:TextType"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="AddressAdminUnitLocationTwoType">
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:TextType"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="AddressPostNameType">
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:TextType"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="PersonBirthDateType">
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:DateType"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="PersonFamilyNameType">
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:NameType"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="PersonGivenNameType">
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:NameType"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="NameType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <eallimpana:UniqueID>UBLUDT0000020</eallimpana:UniqueID>
                <eallimpana:CategoryCode>UDT</eallimpana:CategoryCode>
                <eallimpana:DictionaryEntryName>Name. Type</eallimpana:DictionaryEntryName>
                <eallimpana:VersionID>1.0</eallimpana:VersionID>
                <eallimpana:Definition>A character string that constitutes the distinctive designation of a person, place, thing or concept.</eallimpana:Definition>
                <eallimpana:RepresentationTermName>Name</eallimpana:RepresentationTermName>
                <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:TextTypeBase"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="DateType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <eallimpana:UniqueID>UBLUDT000009</eallimpana:UniqueID>
                <eallimpana:CategoryCode>UDT</eallimpana:CategoryCode>
                <eallimpana:DictionaryEntryName>Date. Type</eallimpana:DictionaryEntryName>
                <eallimpana:VersionID>1.0</eallimpana:VersionID>
                <eallimpana:Definition>One calendar day according the Gregorian calendar.</eallimpana:Definition>
                <eallimpana:RepresentationTermName>Date</eallimpana:RepresentationTermName>
                <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:date"/>
        </xsd:simpleContent>
    </xsd:complexType>


    <xsd:complexType name="TextType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <eallimpana:UniqueID>UBLUDT0000019</eallimpana:UniqueID>
                <eallimpana:CategoryCode>UDT</eallimpana:CategoryCode>
                <eallimpana:DictionaryEntryName>Text. Type</eallimpana:DictionaryEntryName>
                <eallimpana:VersionID>1.0</eallimpana:VersionID>
                <eallimpana:Definition>A character string (i.e. a finite set of characters), generally in the form of words of a language.</eallimpana:Definition>
                <eallimpana:RepresentationTermName>Text</eallimpana:RepresentationTermName>
                <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:TextTypeBase"/>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="TextTypeBase">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <eallimpana:UniqueID>UNDT000019</eallimpana:UniqueID>
                <eallimpana:CategoryCode>CCT</eallimpana:CategoryCode>
                <eallimpana:DictionaryEntryName>Text. Type</eallimpana:DictionaryEntryName>
                <eallimpana:VersionID>1.0</eallimpana:VersionID>
                <eallimpana:Definition>A character string (i.e. a finite set of characters) generally in the form of words of a language.</eallimpana:Definition>
                <eallimpana:RepresentationTermName>Text</eallimpana:RepresentationTermName>
                <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="languageID" type="xsd:language" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <eallimpana:UniqueID>UNDT000019-SC2</eallimpana:UniqueID>
                            <eallimpana:CategoryCode>SC</eallimpana:CategoryCode>
                            <eallimpana:DictionaryEntryName>Language. Identifier</eallimpana:DictionaryEntryName>
                            <eallimpana:Definition>The identifier of the language used in the content component.</eallimpana:Definition>
                            <eallimpana:ObjectClass>Language</eallimpana:ObjectClass>
                            <eallimpana:PropertyTermName>Identification</eallimpana:PropertyTermName>
                            <eallimpana:RepresentationTermName>Identifier</eallimpana:RepresentationTermName>
                            <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="languageLocaleID" type="xsd:normalizedString" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <eallimpana:UniqueID>UNDT000019-SC3</eallimpana:UniqueID>
                            <eallimpana:CategoryCode>SC</eallimpana:CategoryCode>
                            <eallimpana:DictionaryEntryName> Language. Locale. Identifier</eallimpana:DictionaryEntryName>
                            <eallimpana:Definition>The identification of the locale of the language.</eallimpana:Definition>
                            <eallimpana:ObjectClass>Language</eallimpana:ObjectClass>
                            <eallimpana:PropertyTermName>Locale</eallimpana:PropertyTermName>
                            <eallimpana:RepresentationTermName>Identifier</eallimpana:RepresentationTermName>
                            <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


    <xsd:complexType name="PeriodoType">
        <xsd:annotation>
            <xsd:documentation>Definisce un intervallo temporale</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="da" type="xsd:date"/>
            <xsd:element name="a" type="xsd:date"/>
        </xsd:sequence>
    </xsd:complexType>



    <xsd:complexType name="AbstractBaseType" abstract="true"/>

    <xsd:complexType name="EmptyType">
        <xsd:complexContent>
            <xsd:extension base="eallimpana:AbstractBaseType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AttoBaseType">
        <xsd:sequence>
            <xsd:element name="numero" type="xsd:string"/>
            <xsd:element name="data" type="xsd:date"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="AttoRilasciatoDaType">
        <xsd:annotation>
            <xsd:documentation>Tipo per specificare i dati di un Atto</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="eallimpana:AttoBaseType">
                <xsd:sequence>
                    <xsd:element name="rilasciataDa" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="CCIAAType">
        <xsd:annotation>
            <xsd:documentation>Tipo per specificare i dati Impresa relativi all'iscrizione alla Camera Commercio Industria Artigianato Agricoltura</xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:sequence>
                <xsd:element name="numeroCCIAA" type="vagidenum:CCIAAEnum"/>
                <xsd:element name="numeroREA" type="eallimpana:NumeroREAType"/>
            </xsd:sequence>
            <xsd:sequence>
                <xsd:element name="registroDi" type="xsd:string"/>
                <xsd:element name="estremi" type="xsd:string"/>
            </xsd:sequence>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="NumeroREAType">
        <xsd:annotation>
            <xsd:documentation>Numero REA (Repertorio Economico Amministrativo) Sigla provincia, Progressivo, Data</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:NumeroREA">
                <xsd:attribute name="provincia">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z]{2}"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="dataIscrizione" type="xsd:date"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="NumeroREA">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{1,10}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ImpresaREAType">
        <xsd:annotation>
            <xsd:documentation>Tipo per specificare il numero REA (Repertorio economico e amministrativo) di un Impresa</xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:sequence>
                <xsd:element name="impresa" type="xsd:string"/>
                <xsd:element name="numeroREA" type="eallimpana:NumeroREAType"/>
            </xsd:sequence>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="PeriodoDateType">
        <xsd:sequence>
            <xsd:element name="dal" type="xsd:date"/>
            <xsd:element name="al" type="xsd:date"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="ContattiFoniaType">
        <xsd:annotation>
            <xsd:documentation>Tipo per specificare i contatti fonia</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="eallimpana:ContattiFoniaGroup"/>
        </xsd:sequence>
    </xsd:complexType>



    <xsd:complexType name="PIVA">
        <xsd:simpleContent>
            <xsd:restriction base="eallimpana:LegalEntityIDType">
                <xsd:pattern value="[0-9]{11}"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="LegalEntityIDType">
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:IdentifierType"/>
        </xsd:simpleContent>
    </xsd:complexType>


    <xsd:complexType name="IdentifierType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <eallimpana:UniqueID>UBLUDT0000011</eallimpana:UniqueID>
                <eallimpana:CategoryCode>UDT</eallimpana:CategoryCode>
                <eallimpana:DictionaryEntryName>Identifier. Type</eallimpana:DictionaryEntryName>
                <eallimpana:VersionID>1.0</eallimpana:VersionID>
                <eallimpana:Definition>A character string to identify and uniquely distinguish one instance of an object in an identification scheme from all other objects in the same scheme, together with relevant supplementary information.</eallimpana:Definition>
                <eallimpana:RepresentationTermName>Identifier</eallimpana:RepresentationTermName>
                <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
                <eallimpana:UsageRule>Other supplementary components in the CCT are captured as part of the token and name for the schema module containing the identifier list and thus, are not declared as attributes. </eallimpana:UsageRule>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="eallimpana:IdentifierTypeBase"/>
        </xsd:simpleContent>
    </xsd:complexType>


    <xsd:complexType name="IdentifierTypeBase">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <eallimpana:UniqueID>UNDT000011</eallimpana:UniqueID>
                <eallimpana:CategoryCode>CCT</eallimpana:CategoryCode>
                <eallimpana:DictionaryEntryName>Identifier. Type</eallimpana:DictionaryEntryName>
                <eallimpana:VersionID>1.0</eallimpana:VersionID>
                <eallimpana:Definition>A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.</eallimpana:Definition>
                <eallimpana:RepresentationTermName>Identifier</eallimpana:RepresentationTermName>
                <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:normalizedString">
                <xsd:attribute name="schemeID" type="xsd:normalizedString" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <eallimpana:UniqueID>UNDT000011-SC2</eallimpana:UniqueID>
                            <eallimpana:CategoryCode>SC</eallimpana:CategoryCode>
                            <eallimpana:DictionaryEntryName>Identification Scheme. Identifier</eallimpana:DictionaryEntryName>
                            <eallimpana:Definition>The identification of the identification scheme.</eallimpana:Definition>
                            <eallimpana:ObjectClass>Identification Scheme</eallimpana:ObjectClass>
                            <eallimpana:PropertyTermName>Identification</eallimpana:PropertyTermName>
                            <eallimpana:RepresentationTermName>Identifier</eallimpana:RepresentationTermName>
                            <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="schemeName" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <eallimpana:UniqueID>UNDT000011-SC3</eallimpana:UniqueID>
                            <eallimpana:CategoryCode>SC</eallimpana:CategoryCode>
                            <eallimpana:DictionaryEntryName>Identification Scheme. Name. Text</eallimpana:DictionaryEntryName>
                            <eallimpana:Definition>The name of the identification scheme.</eallimpana:Definition>
                            <eallimpana:ObjectClass>Identification Scheme</eallimpana:ObjectClass>
                            <eallimpana:PropertyTermName>Name</eallimpana:PropertyTermName>
                            <eallimpana:RepresentationTermName>Text</eallimpana:RepresentationTermName>
                            <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID" type="xsd:normalizedString" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <eallimpana:UniqueID>UNDT000011-SC4</eallimpana:UniqueID>
                            <eallimpana:CategoryCode>SC</eallimpana:CategoryCode>
                            <eallimpana:DictionaryEntryName>Identification Scheme Agency. Identifier</eallimpana:DictionaryEntryName>
                            <eallimpana:Definition>The identification of the agency that maintains the identification scheme.</eallimpana:Definition>
                            <eallimpana:ObjectClass>Identification Scheme Agency</eallimpana:ObjectClass>
                            <eallimpana:PropertyTermName>Identification</eallimpana:PropertyTermName>
                            <eallimpana:RepresentationTermName>Identifier</eallimpana:RepresentationTermName>
                            <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
                            <eallimpana:UsageRule>Defaults to the UN/EDIFACT data element 3055 code list.</eallimpana:UsageRule>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <eallimpana:UniqueID>UNDT000011-SC5</eallimpana:UniqueID>
                            <eallimpana:CategoryCode>SC</eallimpana:CategoryCode>
                            <eallimpana:DictionaryEntryName>Identification Scheme Agency. Name. Text</eallimpana:DictionaryEntryName>
                            <eallimpana:Definition>The name of the agency that maintains the identification scheme.</eallimpana:Definition>
                            <eallimpana:ObjectClass>Identification Scheme Agency</eallimpana:ObjectClass>
                            <eallimpana:PropertyTermName>Agency Name</eallimpana:PropertyTermName>
                            <eallimpana:RepresentationTermName>Text</eallimpana:RepresentationTermName>
                            <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="schemeVersionID" type="xsd:normalizedString" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <eallimpana:UniqueID>UNDT000011-SC6</eallimpana:UniqueID>
                            <eallimpana:CategoryCode>SC</eallimpana:CategoryCode>
                            <eallimpana:DictionaryEntryName>Identification Scheme. Version. Identifier</eallimpana:DictionaryEntryName>
                            <eallimpana:Definition>The version of the identification scheme.</eallimpana:Definition>
                            <eallimpana:ObjectClass>Identification Scheme</eallimpana:ObjectClass>
                            <eallimpana:PropertyTermName>Version</eallimpana:PropertyTermName>
                            <eallimpana:RepresentationTermName>Identifier</eallimpana:RepresentationTermName>
                            <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <eallimpana:UniqueID>UNDT000011-SC7</eallimpana:UniqueID>
                            <eallimpana:CategoryCode>SC</eallimpana:CategoryCode>
                            <eallimpana:DictionaryEntryName>Identification Scheme Data. Uniform Resource. Identifier</eallimpana:DictionaryEntryName>
                            <eallimpana:Definition>The Uniform Resource Identifier that identifies where the identification scheme data is located.</eallimpana:Definition>
                            <eallimpana:ObjectClass>Identification Scheme Data</eallimpana:ObjectClass>
                            <eallimpana:PropertyTermName>Uniform Resource Identifier</eallimpana:PropertyTermName>
                            <eallimpana:RepresentationTermName>Identifier</eallimpana:RepresentationTermName>
                            <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            <eallimpana:UniqueID>UNDT000011-SC8</eallimpana:UniqueID>
                            <eallimpana:CategoryCode>SC</eallimpana:CategoryCode>
                            <eallimpana:DictionaryEntryName>Identification Scheme. Uniform Resource. Identifier</eallimpana:DictionaryEntryName>
                            <eallimpana:Definition>The Uniform Resource Identifier that identifies where the identification scheme is located.</eallimpana:Definition>
                            <eallimpana:ObjectClass>Identification Scheme</eallimpana:ObjectClass>
                            <eallimpana:PropertyTermName>Uniform Resource Identifier</eallimpana:PropertyTermName>
                            <eallimpana:RepresentationTermName>Identifier</eallimpana:RepresentationTermName>
                            <eallimpana:PrimitiveType>string</eallimpana:PrimitiveType>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="CodiceAmministrazione">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Za-z0-9\-_]{1,16}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="CodiceAOO">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Za-z0-9\-_]{1,16}"/>
        </xsd:restriction>
    </xsd:simpleType>





    <xsd:element name="allegato_impresaa_anagrafica" type="eallimpana:allegato_impresa_anagrafica_ctype"/>

</xsd:schema>
