Moduli_PA/SUAP/02_entities/ent_aua_scheda_a_quadro_sinottico_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:eauaschaquasino="../02_entities/aua_scheda_a_quadro_sinottico"
    xmlns:eauacodscaenu="../02_entities/aua_codice_scarico_enum"
    targetNamespace="../02_entities/aua_scheda_a_quadro_sinottico"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:import namespace="../02_entities/aua_codice_scarico_enum" schemaLocation="../02_entities/ent_aua_codice_scarico_enum_v1.0.7.xsd"/>

    <!--    SCHEDA A-A1 -->

    <xsd:complexType name="quadro_sinottico_ctype">
        <xsd:sequence>
            <xsd:element name="quadro_sinottico_blocco" type="eauaschaquasino:quadro_sinottico_ripetibile_ctype" maxOccurs="unbounded"/>
              </xsd:sequence>
    </xsd:complexType>


    <!-- Tipo concreto principale -->
    <xsd:complexType name="quadro_sinottico_ripetibile_ctype">
        <xsd:sequence>
            <xsd:element name="identificativo_scarico" type="eauacodscaenu:identificativo_scarico_enum"/>
            <xsd:element name="tipologia_acque_reflue" type="eauaschaquasino:tipologia_acque_reflue_choice_base_type"/>
            <xsd:element name="tipologia_recapito" type="eauaschaquasino:tipologia_recapito_choice_base_type"/>
            <xsd:element name="tipologia_richiesta" type="eauaschaquasino:tipologia_richiesta_choice_ctype"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Tipi base astratti -->
    <xsd:complexType name="tipologia_acque_reflue_choice_base_type" abstract="true"/>
    <xsd:complexType name="tipologia_recapito_choice_base_type" abstract="true"/>
    <xsd:complexType name="rinnovo_senza_modifica_sostanziale_base_type" abstract="true"/>
    <xsd:complexType name="rinnovo_con_modifica_sostanziale_base_type" abstract="true"/>

    <!-- Tipi concreti -->
    <xsd:complexType name="tipologia_acque_reflue_choice_ctype">
        <xsd:complexContent>
            <xsd:extension base="eauaschaquasino:tipologia_acque_reflue_choice_base_type">
                <xsd:choice>
                    <xsd:element name="industriali" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="assimilate_alle_domestiche" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="domestiche" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="urbane" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="acque_meteoriche" type="xsd:boolean" minOccurs="0"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="tipologia_recapito_choice_ctype">
        <xsd:complexContent>
            <xsd:extension base="eauaschaquasino:tipologia_recapito_choice_base_type">
                <xsd:choice>
                    <xsd:element name="rete_fognaria" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="acque_superficiali" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="suolo_strati_superficiali" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="acque_sotterranee" type="xsd:boolean" minOccurs="0"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="rinnovo_senza_modifica_sostanziale_ctype">
        <xsd:complexContent>
            <xsd:extension base="eauaschaquasino:rinnovo_senza_modifica_sostanziale_base_type">
                <xsd:sequence>
                    <xsd:element name="modifica_sostanziale" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="rinnovo_con_modifica_sostanziale_ctype">
        <xsd:complexContent>
            <xsd:extension base="eauaschaquasino:rinnovo_con_modifica_sostanziale_base_type">
                <xsd:sequence>
                    <xsd:element name="rinnovo_con_modifica_sostanziale" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- Choice per tipologia_richiesta -->
    <xsd:complexType name="tipologia_richiesta_choice_ctype">
        <xsd:choice>
            <xsd:element name="rilascio" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="modifica_sostanziale" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="rinnovo_senza_modifica_sostanziale" type="eauaschaquasino:rinnovo_senza_modifica_sostanziale_base_type" minOccurs="0"/>
            <xsd:element name="rinnovo_con_modifica_sostanziale" type="eauaschaquasino:rinnovo_con_modifica_sostanziale_base_type" minOccurs="0"/>
        </xsd:choice>
    </xsd:complexType>


<!-- Elemento principale -->
    <xsd:element name="quadro_sinottico" type="eauaschaquasino:quadro_sinottico_ctype"/>

</xsd:schema>