Moduli_PA/SUAP/02_entities/ent_produzioni_materiali_risulta_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:epromatris="../02_entities/produzioni_materiali_risulta"
            xmlns:eprosta="../02_entities/protocollo_standard"

            targetNamespace="../02_entities/produzioni_materiali_risulta"

            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">


    <xsd:import namespace="../02_entities/protocollo_standard" schemaLocation="../02_entities/ent_protocollo_standard_v1.0.7.xsd"/>


    <!-- Reference epromatris:MaterialiRisultaType -->
    <xsd:complexType name="materiali_risulta_base_type" abstract="true"/>

    <xsd:complexType name="materiali_risulta_ctype">
        <xsd:complexContent>
            <xsd:extension base="epromatris:materiali_risulta_base_type">
                <xsd:sequence>
                    <xsd:element name="non_soggetta_normativa" minOccurs="0" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>non sono soggette alla normativa relativa ai materiali da scavo (art.
                                41-bis d.l. n. 69 del 2013 e
                                art. 184-bis d.lgs. n. 152 del 2006)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comporta_produzione" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>comportano la produzione di materiali da scavo considerati come
                                sottoprodotti ai sensi dell’articolo
                                184-bis, comma 1, del d.lgs. n. 152/2006 o dell’articolo 41-bis, comma 1, d.l. n. 69 del
                                2013 e del d.m.
                                n. 161/2012
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:choice>
                                <xsd:element name="vol_inf_ugu_6000" type="xsd:boolean">
                                    <xsd:annotation>
                                        <xsd:documentation>le opere comportano la produzione di materiali da scavo per
                                            un volume inferiore o
                                            uguale a 6000 mc ovvero (pur superando tale soglia) non sono soggette a VIA
                                            o AIA
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="vol_sup_6000">
                                    <xsd:annotation>
                                        <xsd:documentation>le opere comportano la produzione di materiali da scavo per
                                            un volume superiore a 6000 mc
                                            e sono soggette a VIA o AIA, e pertanto, ai sensi dell’art. 184-bis, comma
                                            2-bis del d.lgs. n. 152/2006,
                                            e del d.m. n. 161/2012 si prevede la presentazione del Piano di Utilizzo.
                                        </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="estremi_provvedimento" minOccurs="0"
                                                         type="eprosta:protocollo_standard_ctype">
                                                <xsd:annotation>
                                                    <xsd:documentation>si comunicano gli estremi del provvedimento di
                                                        VIA o AIA, comprensivo dell’assenso
                                                        al Piano di Utilizzo dei materiali da scavo, rilasciato
                                                        da__________________________con
                                                        prot. _____________ in data |__|__|__|__|__|__|__|__
                                                    </xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="produzione_riutilizzata_in_luogo" minOccurs="0" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>comportano la produzione di materiali da scavo che saranno riutilizzati
                                nello stesso luogo di produzione
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="soggetta_normativa" minOccurs="0" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>riguardano interventi di demolizione di edifici o altri manufatti
                                preesistenti e producono rifiuti la cui
                                gestione è disciplinata ai sensi della parte quarta del d.lgs. n. 152/ 2006
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="produzione_rifiuti" minOccurs="0" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>comportano la produzione di materiali da scavo che saranno gestiti
                                dall’interessato come rifiuti
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>



    

    <xsd:element name="materiali_risulta" type="epromatris:materiali_risulta_ctype"/>
</xsd:schema>
