Moduli_PA/SUAP/02_entities/ent_autorizzazione_soprintendenza_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eautsop="../02_entities/autorizzazione_soprintendenza"
            targetNamespace="../02_entities/autorizzazione_soprintendenza"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">

    <!-- Reference suecommon:AutorizzazioneSoprintendenzaType -->
    <xsd:complexType name="autorizzazione_soprintendenza_ctype">
        <xsd:choice>
            <xsd:element name="non_sottoposto_tutela" type="xsd:boolean"/>
            <xsd:element name="sottoposto_tutela" type="xsd:boolean">

                <xsd:annotation>
                    <xsd:documentation>si allega la documentazione necessaria ai fini del rilascio del parere/nulla
                        osta
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sottoposto_tutela_allegato_rilascio_parere" type="xsd:boolean"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:element name="autorizzazione_soprintendenza" type="eautsop:autorizzazione_soprintendenza_ctype"/>
</xsd:schema>
