Moduli_PA/SUAP/02_entities/ent_tipologia_intervento_opere_cila_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:etipintopecila="../02_entities/tipologia_intervento_opere_cila"
            targetNamespace="../02_entities/tipologia_intervento_opere_cila"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">


    <!-- 1) Tipologia di intervento e descrizione sintetica delle opere (*) -->
    <xsd:complexType name="tipologia_intervento_base_type" abstract="true"/>

    <xsd:complexType name="tipologia_intervento_ctype">
        <xsd:complexContent>
            <xsd:extension base="etipintopecila:tipologia_intervento_base_type">
                <xsd:sequence>
                    <xsd:element name="man_straord_dpr_380_2001"  minOccurs="0" type="xsd:boolean"/>
                    <xsd:element name="restauro_risanamento_dpr_380_2001"  minOccurs="0" type="xsd:boolean"/>
                    <xsd:element name="barriere_architettoniche" minOccurs="0" type="xsd:boolean"/>
                    <xsd:element name="sottosuolo_centro_edificato" minOccurs="0" type="xsd:boolean"/>
                    <xsd:element name="movimenti_terra" minOccurs="0" type="xsd:boolean"/>
                    <xsd:element name="serre_mobili_stagionali" minOccurs="0" type="xsd:boolean"/>
                    <xsd:element name="pertinenze_minori" minOccurs="0" type="xsd:boolean"/>
                    <xsd:element name="altri_extra_art_6_10_22" minOccurs="0" type="xsd:boolean"/>
                    <xsd:element name="altri_extra_art_6_10_22_specificare" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="dettaglio_intervento" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="tipologia_intervento_opere_cila" type="etipintopecila:tipologia_intervento_ctype"/>
</xsd:schema>
