Moduli_PA/SUAP/02_entities/ent_comunicazioni_segnalazioni_cila_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ecomsegcila="../02_entities/comunicazioni_segnalazioni_cila"
            targetNamespace="../02_entities/comunicazioni_segnalazioni_cila"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">


    <!-- Reference ecomsegcila:ComunicazioniSegnalazioniType -->
    <xsd:complexType name="comunicazioni_segnalazioni_base_type" abstract="true"/>

    <xsd:complexType name="comunicazioni_segnalazioni_ctype">
        <xsd:complexContent>
            <xsd:extension base="ecomsegcila:comunicazioni_segnalazioni_base_type">
                <xsd:sequence>
                    <xsd:element name="comunicazioni" minOccurs="0"  type="xsd:string"/>
                    <xsd:element name="autorita_competente" minOccurs="0"  type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="comunicazioni_segnalazioni_cila" type="ecomsegcila:comunicazioni_segnalazioni_ctype"/>
</xsd:schema>
