Moduli_PA/SUAP/02_entities/ent_calcolo_contributo_costruzione_scia_alternativa_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ecalconcossciaalt="../02_entities/calcolo_contributo_costruzione_scia_alternativa"
            targetNamespace="../02_entities/calcolo_contributo_costruzione_scia_alternativa"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">


    <!-- Reference ecalconcossciaalt:CalcoloContributoBaseType -->
    <xsd:complexType name="calcolo_contributo_base_type" abstract="true"/>

    <xsd:complexType name="calcolo_contributo_ctype">
        <xsd:complexContent>
            <xsd:extension base="ecalconcossciaalt:calcolo_contributo_base_type">
                <xsd:choice>
                    <xsd:element name="titolo_gratuito" type="xsd:string"/>
                    <xsd:element name="titolo_oneroso">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:choice>
                                    <xsd:element name="calcolo_sportello" type="xsd:boolean" minOccurs='0'/>
                                    <xsd:element name="calcolo_preventivo" type="xsd:boolean" minOccurs='0'/>
                                </xsd:choice>
                                <xsd:element name="versamento" minOccurs="0">
                                    <xsd:complexType>
                                        <xsd:choice>
                                            <xsd:element name="pagamento_entro_30_giorni" type="xsd:boolean"/>
                                            <xsd:element name="chiede_rateizzazione" type="xsd:boolean"/>
                                            <xsd:element name="corrisponde_in_corso" type="xsd:boolean"/>
                                        </xsd:choice>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="oneri_urbanizzazione" minOccurs="0" type="xsd:boolean"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="calcolo_contributo_costruzione_scia_alternativa" type="ecalconcossciaalt:calcolo_contributo_ctype"/>
</xsd:schema>
