Moduli_PA/SUAP/02_entities/ent_requisiti_adattabilita_sca_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ereqadasca="../02_entities/requisiti_adattabilita_sca"
            targetNamespace="../02_entities/requisiti_adattabilita_sca"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">



    <!-- new: REQUISITI ADATTABILITA -->
    <xsd:complexType name="requisiti_adattabilita_ctype">
        <xsd:sequence>

            <xsd:element name="art_24_bis" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="altezza_minima_interna" type="xsd:boolean" minOccurs="0" />
                        <xsd:element name="alloggio_monostanza" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="alloggio_monostanza_una_persona" type="xsd:boolean" minOccurs="0"/>
                                    <xsd:element name="alloggio_monostanza_due_persone" type="xsd:boolean" minOccurs="0"/>
                                    <xsd:element name="ristrutturazione_norme_igenico_sanitarie" type="xsd:boolean" minOccurs="0"/>
                                    <xsd:element name="recupero_edilizio" type="xsd:boolean" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="art_24_quater">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="provvedimento" type="xsd:string" minOccurs="0" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>



    <xsd:element name="requisiti_adattabilita_sca" type="ereqadasca:requisiti_adattabilita_ctype"/>
</xsd:schema>
