Moduli_PA/SUAP/02_entities/ent_scheda_tecnico_sca_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:eschtecsca="../02_entities/scheda_tecnico_sca"
            xmlns:eallperana="../02_entities/allegato_persona_anagrafica"

            targetNamespace="../02_entities/scheda_tecnico_sca"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">

    <xsd:import namespace="../02_entities/allegato_persona_anagrafica" schemaLocation="../02_entities/ent_allegato_persona_anagrafica_v1.0.6.xsd"/>



    <xsd:complexType name="professionista_anagrafica_direttore_ctype">
        <xsd:complexContent>
            <xsd:extension base="eschtecsca:professionista_anagrafica_ctype">
                <xsd:choice minOccurs="0">
                    <xsd:element name="direttore_lavori" type="xsd:boolean"/>
                    <xsd:element name="professionista_abilitato" type="xsd:boolean"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="professionista_anagrafica_ctype">
        <xsd:annotation>
            <xsd:documentation>Tipo per specificare tutti i dati anagrafici di un professionista</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="eallperana:allegato_persona_anagrafica_ctype">
                <xsd:sequence>
                    <xsd:element name="studio_pro" type="eallperana:IndirizzoType"/>
                    <xsd:element name="ordine_professionale" type="eschtecsca:ordine_professionale_ctype"/>
                    <xsd:element name="contatti" type="eallperana:ContattiType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ordine_professionale_ctype">
        <xsd:sequence>
            <xsd:element name="ordine_nome" type="xsd:string"/>
            <xsd:element name="ordine_citta" type="xsd:string"/>
            <xsd:element name="ordine_numero" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="scheda_tecnico_sca" type="eschtecsca:professionista_anagrafica_direttore_ctype"/>
</xsd:schema>
