Moduli_PA/SUAP/02_entities/ent_dichiarazione_tolleranze_v1.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:edictol="../02_entities/dichiarazione_tolleranze"
            xmlns:ctipi="../commons/tipi"
            targetNamespace="../02_entities/dichiarazione_tolleranze"
            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.6" xml:lang="it">


    <xsd:import namespace="../commons/tipi" schemaLocation="../commons-tipi.xsd"/>



    <xsd:complexType name="dichiarazioni_tolleranze_base_type" abstract="true"/>

    <xsd:complexType name="dichiarazioni_tolleranze_ctype">
        <xsd:complexContent>
            <xsd:extension base="edictol:dichiarazioni_tolleranze_base_type">
                <xsd:sequence>
                    <!--X.1-->
                    <xsd:element name="tolleranza_singola_unita" minOccurs="0" type="xsd:boolean"/>
                    <!--X.2-->
                    <xsd:element name="tolleranza_limiti_superficie" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:choice>
                                    <!--X.2.1-->
                                    <xsd:element name="tolleranza_oltre_500_mq" type="xsd:boolean"/>
                                    <!--X.2.2-->
                                    <xsd:element name="tolleranza_da_500_a_300_mq" type="xsd:boolean"/>
                                    <!--X.2.3-->
                                    <xsd:element name="tolleranza_da_300_a_100_mq" type="xsd:boolean"/>
                                    <!--X.2.4-->
                                    <xsd:element name="tolleranza_da_100_a_60_mq" type="xsd:boolean"/>
                                    <!--X.2.5-->
                                    <xsd:element name="tolleranza_sotto_60_mq" type="xsd:boolean"/>
                                </xsd:choice>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <!--X.3-->
                    <xsd:element name="tolleranza_irregolarita_minime" minOccurs="0" type="xsd:boolean"/>
                    <!--X.4-->
                    <xsd:element name="tolleranza_errori_esecutivi" minOccurs="0" type="xsd:boolean"/>
                    <!--X.5-->
                    <xsd:element name="tolleranza_verificata_in_sopralluogo" minOccurs="0" type="xsd:boolean"/>

                    <!--X.6 e X.7-->
                    <xsd:choice>
                        <xsd:sequence>
                            <!--X.6-->
                            <xsd:element name="tolleranza_zona_sismica_bassa" minOccurs="0" type="xsd:boolean"/>
                            <!--X.7-->
                            <xsd:element name="tolleranza_zona_sismica_alta" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:choice>
                                            <!--X.7.1-->
                                            <xsd:element name="tolleranza_non_strutturale" type="xsd:boolean"/>
                                            <!--X.7.2-->
                                            <xsd:element name="tolleranza_strutturale">
                                                <xsd:complexType>
                                                    <xsd:sequence>
                                                        <xsd:choice>
                                                            <!--X.7.2.1-->
                                                            <xsd:element name="tolleranza_pubblica_incolumita">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:choice>
                                                                            <!--X.7.2.1.1-->
                                                                            <xsd:element
                                                                                    name="allega_autorizzazione_sismica"
                                                                                    type="edictol:atto_base_data_numero_ctype"/>
                                                                            <!--X.7.2.1.2-->
                                                                            <xsd:element
                                                                                    name="silenzio_assenso_autorizzazione"
                                                                                    type="edictol:atto_base_data_numero_ctype"/>
                                                                        </xsd:choice>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                            <!--X.7.2.2-->
                                                            <xsd:element name="tolleranza_minore_rilevanza">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <!--X.7.2.2.1-->
                                                                        <xsd:element
                                                                                name="decorso_termine_minore_rilevanza"
                                                                                type="xsd:boolean"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>

                                                            <!--X.7.2.3-->
                                                            <xsd:element name="tolleranza_priva_rilevanza">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <!--X.7.2.3.1-->
                                                                        <xsd:element
                                                                                name="decorso_termine_priva_rilevanza"
                                                                                type="xsd:boolean"/>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                        </xsd:choice>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:choice>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="atto_base_data_numero_ctype">
        <xsd:sequence>
            <xsd:element name="data" type="ctipi:ggmmaaaa_stype"/>
            <xsd:element name="numero" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="dichiarazione_tolleranze" type="edictol:dichiarazioni_tolleranze_ctype"/>
</xsd:schema>
