Moduli_PA/SUAP/02_entities/ent_prevenzione_incendi_v1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:epreinc="../02_entities/prevenzione_incendi"
            xmlns:eprosta="../02_entities/protocollo_standard"
            targetNamespace="../02_entities/prevenzione_incendi"

            elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0.7" xml:lang="it">

    <xsd:import namespace="../02_entities/protocollo_standard" schemaLocation="../02_entities/ent_protocollo_standard_v1.0.7.xsd"/>
    
    <!-- Reference suecommon:PrevenzioneIncendiType -->
    <xsd:complexType name="prevenzione_incendi_ctype">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="non_soggetto_prevenzione_incendi" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>non è soggetto alle norme di prevenzione incendi</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="soggetto_prevenzione_incendi" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>è soggetto alle norme tecniche di prevenzione incendi e le stesse sono
                            rispettate nel progetto
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="parziale_copertura_prevenzione_incendi">
                    <xsd:annotation>
                        <xsd:documentation>presenta caratteristiche tali da non consentire l’integrale osservanza delle
                            regole tecniche di prevenzione incendi
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="parziale_copertura_prevenzione_incendi_allegato_documentazione_deroga"
                                         type="xsd:boolean"/>
                        </xsd:sequence>
                    </xsd:complexType>



                </xsd:element>
            </xsd:choice>
            <xsd:choice>
                <xsd:element name="non_soggetto_valutazione_progetto" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>non è soggetto alla valutazione del progetto da parte del Comando Provinciale
                            dei Vigili del Fuoco ai sensi del
                            d.P.R. n. 151/2011
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="soggetto_valutazione_progetto">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element type="xsd:boolean" name="soggetto_valutazione_progetto_allegato_valutazione_progetto" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="variante_progetto">
                    <xsd:annotation>
                        <xsd:documentation>costituisce variante e il sottoscritto assevera che le modifiche non
                            costituiscono variazione
                            dei requisiti di sicurezza antincendio già approvati con parere del Comando Provinciale dei
                            Vigili
                            del fuoco rilasciato con prot. ______________ in data |__|__|__|__|__|__|__|__|
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="parere_vigili_del_fuoco" type="eprosta:protocollo_standard_ctype"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>




    <xsd:element name="prevenzione_incendi" type="epreinc:prevenzione_incendi_ctype"/>
</xsd:schema>
